{% load videotags %}
<article class="announ-item cleared">
    <div class="ai-img d-sh">
        <a href="{% url video-detail video.id %}">
            <span>
                <img src="{% if video.preview.thumbnail %}{{ video.preview.thumbnail.url }}{% else %}{{ STATIC_URL }}i/nophoto.png{% endif %}"
                     width="165" height="107" alt="" />
                <span class="time">{{ video.duration|default_if_none:0|to_hms }}</span>
            </span>
        </a>
    </div>
    <header class="ai-head">
        <hgroup>
            <h3><a href="">{{ video.title }}</a></h3>
            <h4>{% if object.type != pf.TYPE_USER %}{{ object.get_type_display }}
                &laquo;{{ object.title }}&raquo;{% else %}{{ object.title }}{% endif %}</h4>
        </hgroup>
        <p>
            {{ video.description|linebreaksbr }}
        </p>
    </header>
    <footer class="ai-foot">
        <time class="date">{{ video.created|date:'j.m.Y, G:i' }}</time>
        <ul class="b-stat">
{#            <li class="like"><i class="b-ico b-ico_heart"><i></i></i><span>1 564</span></li>#}
            <li class="viewed"><i class="b-ico b-ico_eye"><i></i></i><span>{{ video.views_count }}</span></li>
        </ul>
    </footer>
</article>