{# Вкладка редактирования феста #}
<dt class="first{% ifequal selected 'event' %} selected{% endifequal %}">
    {% spaceless %}
        <a href="{% url 'event-edit-info' event.id %}">
            <span>{{ event.get_type_display }}</span>
        </a>
    {% endspaceless %}
    <i class="l"></i>
    <i class="r"></i>
</dt>
<dd>
    <div class="b-tabs__tab-content">
    </div>
</dd>

{# Вкладка просмотра заявок феста #}
{% if request.user.id == event.owner.id %}
<dt class="{% ifequal selected 'requests' %} selected{% endifequal %}">
    {% spaceless %}
        <a href="{% url 'participant-list' event.id %}">
            <span>Заявки</span>
        </a>
    {% endspaceless %}
    <small>{{ event.participant_set.count }}</small>
    <i class="l"></i>
    <i class="r"></i>
</dt>
<dd>
    <div class="b-tabs__tab-content">
    </div>
</dd>
{% endif %}
