{% extends "video/video_wrapper.html" %}
{% load sitetree rupluralize %}

{% block title %}
    {% if form.instance.pk %}
        Редактирование видео &laquo;{{ form.instance.title }}&raquo;
    {% else %}
        Добавление видео
    {% endif %}
{% endblock %}

{% block left_column %}
    <div class="b-tabs d-sh">
        <dl>
            {% include 'snippets/menu.html' with selected='video' profile=request.user %}
            <dd class="selected">
                <div class="b-tabs__tab-content">
                    {% include "snippets/section_profile.html" with profile=request.user %}
                    <div class="b-hr">
                        <hr/>
                    </div>
                    <header class="b-head cleared">
                        <a href="{% url 'profile-video-detail' request.user.id %}"
                           class="b-button-prev"><span>Все альбомы</span></a>
                        <h3>
                            {% if form.instance.pk %}
                                Редактирование видео &laquo;{{ form.instance.title }}&raquo;
                            {% else %}
                                Добавление видео
                            {% endif %}
                        </h3>
                    </header>
                    <section class="b-form b-form_album b-form_edit b-form_smaller">
                        <form id="video-upload-form" name="editform" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="b-form__fields">
                            {% if form.instance.pk %}
                            {% include 'video/snippets/s3upload_widget.html' with obj=form.instance %}
                            <fieldset>
                              <div class="b-form__field">
                                <label for="video-selector">
                                  <span class="f-title"><span>Видео</span></span>
                                  <span class="f-input">
                                    <button class="input-file-button" type="button">Загрузить{% if form.instance.original_file %} другое видео{% endif %} с компьютера</button>
                                    <input type="file" id="video-selector" data-policy-url="{% url 'video-get-s3-upload-url' form.instance.id %}" />
                                  </span>
                                </label>
                              </div>
                            </fieldset>
                            {% endif %}
                                {% for item in form %}
                                    <fieldset>
                                        <div class="b-form__field">
                                            <label>
                                <span class="f-title">
                                    <span>{{ item.label }}</span>
                                </span>
                                <span class="f-input">
                                    {{ item }}
                                </span>
                                            </label>
                                            {% if item.errors %}
                                                <div class="f-err">
                                                    <span>{{ item.errors }}</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </fieldset>
                                {% endfor %}
                            </div>
                            <footer class="b-form__footer">
                                <div class="wrap">
                                    <button class="b-button b-button_yellow" type="submit">
                                        Сохранить
                                        {% if not form.instance.pk %} и перейти к загрузке видео{% endif %}
                                    </button>
                                </div>
                            </footer>
                        </form>
                    </section>
                </div>
            </dd>
        </dl>
    </div>
{% endblock %}

{% block popup %}
<section class="b-popup" id="popup-upload" style="left:50%; top:100px;">
    <section class="b-form b-form_smaller b-form_popup">
        <h3>Идёт загрузка</h3>
        <p class="message-container">Пожалуйста, не закрывайте и не перезагружайте страницу до окончания загрузки.</p>
        <progress class="progress-bar" max="100" value="0"></progress>
        <div class="progress-value">0%</div>
    </section><!--b-form-->
    <div class="b-popup__tl"></div>
    <div class="b-popup__tr"></div>
    <div class="b-popup__br"></div>
    <div class="b-popup__bl"></div>
</section>
{% endblock %}
