{% load sitetree %}
<ul>
{% spaceless %}

<ul>
	{% for item in sitetree_items %}
	<li>
        <a href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %} {% if item.is_current or item.in_current_branch %}class="{{ item.is_current|yesno:"current_item ," }}{{ item.in_current_branch|yesno:"current_branch," }}"{% endif %}>{{ item.title_resolved }}</a>
		{% if item.has_children %}
			{% sitetree_children of item for menu template "sitetree/topmenu.html" %}
		{% endif %}
	</li>
	{% endfor %}
</ul>


{% for item in sitetree_items %}
	{% if item.is_current or item.in_current_branch %}
	<li class="selected"><strong>{{ item.title_resolved }}</strong></li>
	{% else %}
	<li><a href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %}>{{ item.title_resolved }}</a></li>
	{% endif %}
{% endfor %}
{% endspaceless %}
</ul>
