{% extends "accounts/profile_edit_wrapper.html" %}
{% load sitetree %}

{% block title %}Редактироване профиля{% endblock %}

{% block edit_form %}
<section class="b-form b-form_smaller b-form_edit">
    <form name="info_form" action="" method="POST">
        {% csrf_token %}
        <a class="form-profile-view" href="{% url 'profile-detail' profile.id %}">Просмотр профиля</a>
        <div class="b-form__fields">
            <h3 class="title">Редактирование профиля</h3>
            <fieldset>
                <div class="b-form__field">
                    <label>
                        <span class="f-title">
                            <span>
                                {% if form.instance.type == 1 %}
                                    Имя Фамилия
                                {% elif form.instance.type == 2 %}
                                    Название школы
                                {% elif form.instance.type == 3 %}
                                    Название студии
                                {% elif form.instance.type == 4 %}
                                    Название госучреждения
                                {% endif %}
                            </span>
                        </span>
                            <span class="f-input">
                                {{ form.title }}
                            </span>
                    </label>
                    {% if form.title.errors %}
                        <div class="f-err"><span>{{ form.title.errors }}</span></div>
                    {% endif %}
                </div>
                {% if form.instance.type == 1 %}
                    <div class="b-form__field">
                        <label>
                            <span class="f-title"><span>Никнейм</span></span>
                            <span class="f-input">
                                {{ form.nickname }}
                            </span>
                        </label>
                    </div>
                    {% if form.nickname.errors %}
                        <div class="f-err"><span>{{ form.nickname.errors }}</span></div>
                    {% endif %}
                    <div class="b-form__field">
                        <label>
                            <span class="f-title"><span>День рождения</span></span>
                            <span class="f-input">
                                {{ form.birthday }}
                            </span>
                        </label>
                        {% if form.birthday.errors %}
                        <div class="f-err"><span>{{ form.birthday.errors }}</span></div>
                        {% endif %}
                    </div>
                    <div class="b-form__field b-form__field_select last">
                        <span class="f-title"><span>Пол</span></span>

                        <div class="f-select">
                            {{ form.gender }}
                        </div>
                    </div>
                {% endif %}
            </fieldset>
            <fieldset>
                <div class="b-form__field">
                    <label>
                        <span class="f-title"><span>Страна</span></span>
                        <span class="f-input">
                            {{ form.country }}
                        </span>
                    </label>
                    {% if form.country.errors %}
                        <div class="f-err"><span>{{ form.country.errors }}</span></div>
                    {% endif %}
                </div>
                <div class="b-form__field">
                    <label>
                        <span class="f-title"><span>Регион</span></span>
                        <span class="f-input">
                            {{ form.region }}
                        </span>
                    </label>
                    {% if form.region.errors %}
                        <div class="f-err"><span>{{ form.region.errors }}</span></div>
                    {% endif %}
                </div>
                <div class="b-form__field">
                    <label>
                        <span class="f-title"><span>Город</span></span>
                        <span class="f-input">
                            {{ form.city }}
                        </span>
                    </label>
                    {% if form.city.errors %}
                        <div class="f-err"><span>{{ form.city.errors }}</span></div>
                    {% endif %}
                </div>
            </fieldset>
            <div class="b-form__field">
                <label>
                <span class="f-title">
                    <span>
                        {% if form.instance.type == 1 %}
                            О себе
                        {% else %}
                            Описание
                        {% endif %}
                    </span>
                </span>
                <span class="f-textarea">
                    {{ form.description }}
                </span>
                </label>
                {% if form.description.errors %}
                    <div class="f-err"><span>{{ form.description.errors }}</span></div>
                {% endif %}
            </div>
        </div>
        <footer class="b-form__footer">
            <div class="wrap">
                <a href="" class="b-button b-button_yellow button-submit">Сохранить</a>
            </div>
        </footer>
    </form>
</section>
{% endblock %}
