{% extends "accounts/tabs_wrapper.html" %}
{% load sitetree rupluralize %}

{% block title %}
    {% if object.id == user.id %}
        Ваши фотографии
    {% else %}
        {% if object.title %}
            {% if object.type != 1 %}
                Фото: {{ object.get_type_display }} &laquo;{{ object.title }}&raquo;
            {% endif %}
        {% else %}
            {{ "Заполните имя профиля" }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}s/gallery.css" />
{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.galleriffic.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.history.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.opacityrollover.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jmFullWall/jquery.imgpreload.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jmFullWall/jquery.imagepanner.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jmFullWall/jquery.fullWall.js"></script>
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?48"></script>
    <script type="text/javascript">
      VK.init({apiId: 2868516, onlyWidgets: true});
    </script>
{% endblock %}

{% block profile_photo_tab %}
    <dt class="selected">
        <span>Фото</span>
        <small>{{ profile.photo_set.count }}</small>
        <i class="l"></i>
        <i class="r"></i>
    </dt>
    <dd class="selected"><div class="b-tabs__tab-content">
    {% include "snippets/section_profile.html" %}
    <div class="b-hr">
        <hr />
    </div>
    <section class="b-gallery b-gallery_ui b-gallery_album b-gallery_album_v" id="photoalbums-container">
        <header class="b-gallery__head">
            <ul class="b-service-buttons">
                {% if profile.id == request.user.id %}
                    <li class="addphotoalbum">
                        <i></i>
                        <a href="{% url photo-album-add %}">Добавить альбом</a>
                    </li>
                {% endif %}
            </ul>
            <h3>Фотоальбомы</h3>
            <div class="clear"></div>
            {% if profile.photoalbum_set.count %}
                {% if profile.id == request.user.id %}
                    <a href="#" id="photoalbum-delete-button" class="b-button b-button_red b-button_small l-button-del" style="display: none;">Удалить</a>
                {% endif %}
                <p class="smaller" id="albums-count">
                        Всего {{ profile.photoalbum_set.count }} {{ profile.photoalbum_set.count|rupluralize:"альбом,альбома,альбомов" }}
                <div id="photoalbums-plurals" style="display: none;">альбом,альбома,альбомов</div>
                </p>
            {% endif %}
        </header>

        <div id="photoalbum-empty-block" class="b-empty b-empty_photo-album" {% if profile.photoalbum_set.count %}style="display: none;"{% endif %}>
            <div class="b-empty__pic"></div>
            <strong class="b-empty__text">Нет фотоальбомов</strong>
            {% if profile.id == request.user.id %}
                <div>
                    <a href="{% url photo-album-add %}" class="b-button b-button_yellow">Создать альбом</a>
                </div>
            {% endif %}
        </div>
        {% include "snippets/photoalbums_list.html" %}
    </section>
        {% if profile.id == request.user.id or photos.count %}
            <section class="b-announs b-announs_movie b-announs_movie_cols b-announs_movie_ui" id="photos-container">
        <header class="announs-head">
            {% if profile.id == request.user.id %}
                <ul class="b-service-buttons">
                <li class="addphoto">
                    <i></i>
                    <a href="{% url photo-add %}">Добавить фото</a>
                </li>
            </ul>
            {% endif %}
            <h3>Фотографии без альбомов</h3>
            <div class="clear"></div>
            {% if photos.count %}
                {% if profile.id == request.user.id %}
                    <a href="#" class="b-button b-button_red b-button_small l-button-del" rel="popup-del-video" id="photo-delete-button" style="display: none;">Удалить</a>
                    <a href="#" class="b-button b-button_yellow b-button_small l-button-move" rel="popup-del-video" id="photo-move-button" style="display: none;">Переместить в альбом...</a>
                {% endif %}
                <p class="smaller" id="videos-count">
                    Всего {{ photos.count }} фото
                <div id="videos-plurals" style="display: none;">фото,фото,фото</div>
                </p>
            {% endif %}
            {#            <div class="b-sort">#}
{#                <div class="b-sort__title">Сортировка</div>#}
{#                <input type="radio" hidden="hidden" value="" name="sort" class="b-sort__helper" id="sort1" />#}
{#                <label class="b-sort__handle" for="sort1"><span>по просмотрам</span></label>#}
{#                <input type="radio" hidden="hidden" value="" name="sort" class="b-sort__helper" id="sort2" />#}
{#                <label class="b-sort__handle" for="sort2"><span>по оценкам</span></label>#}
{#                <input type="radio" hidden="hidden" value="" name="sort" class="b-sort__helper" id="sort3" />#}
{#                <label class="b-sort__handle" for="sort3"><span>по дате добавления</span></label>#}
{#            </div>#}
        </header>
        <div id="photo-empty-block" class="b-empty b-empty_video" {% if photos.count %}style="display: none;"{% endif %}>
            <div class="b-empty__pic"></div>
            <strong class="b-empty__text">Нет фотографий</strong>
            {% if profile.id == request.user.id %}
                <div><a href="{% url photo-add %}" class="b-button b-button_yellow">Загрузить фото</a></div>
            {% endif %}
        </div>
        {% include "snippets/photos_list.html" %}
    </section>
        {% endif %}
    </div>
    </dd>

    {% csrf_token %}
    <script type="text/javascript">
    $(function() {
        var pav = new PhotoAlbumsView();

        $('#wall').fullWall();

        var onMouseOutOpacity = 0.67;
        $('#thumbs ul.thumbs li, div.navigation a.pageLink').opacityrollover({
            mouseOutOpacity:   onMouseOutOpacity,
            mouseOverOpacity:  1.0,
            fadeSpeed:         'fast',
            exemptionSelector: '.selected'
        });


        // Initialize Advanced Galleriffic Gallery
        var gallery = $('#thumbs').galleriffic({
            delay:                     2500,
            numThumbs:                 12,
            preloadAhead:              15,
            enableTopPager:            false,
            enableBottomPager:         false,
            maxPagesToShow:            7,
            imageContainerSel:         '#slideshow',
            controlsContainerSel:      '',
            captionContainerSel:       '#caption',
            loadingContainerSel:       '#loading',
            renderSSControls:          true,
            renderNavControls:         true,
            playLinkText:              'Play Slideshow',
            pauseLinkText:             'Pause Slideshow',
            prevLinkText:              '&lsaquo; Previous Photo',
            nextLinkText:              'Next Photo &rsaquo;',
            nextPageLinkText:          'Next &rsaquo;',
            prevPageLinkText:          '&lsaquo; Prev',
            enableHistory:             true,
            autoStart:                 false,
            syncTransitions:           true,
            defaultTransitionDuration: 0,
            onSlideChange:             function(prevIndex, nextIndex) {
                // 'this' refers to the gallery, which is an extension of $('#thumbs')
                this.find('ul.thumbs').children()
                        .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
                        .eq(nextIndex).fadeTo('fast', 1.0);

                $('#show-full-screen').click(function(e) {
                    e.preventDefault();
                    $('#wall').data('fullWall').showItem(nextIndex);
                });

                $('#vk_comments').empty();
                VK.Widgets.Comments("vk_comments", {
                    pageUrl: window.location.href,
                    limit: 10,
                    width: "600",
                    attach: "*" }
                );
            },

            onTransitionIn: function(newSlide, newCaption, isSync) {
                if ($('.gallery-modal').is(':visible') && $('#wall-container').is(':hidden')) {
                    // Fix for FF browser
                    newSlide.css('opacity', '1');
                    newCaption.css('opacity', '1');
                };
            },

            onPageTransitionOut:       function(callback) {
                this.fadeTo('fast', 0.0, callback);
            },

            onPageTransitionIn:        function() {
                var prevPageLink = this.find('a.prev').css('visibility', 'hidden');
                var nextPageLink = this.find('a.next').css('visibility', 'hidden');

                // Show appropriate next / prev page links
                if (this.displayedPage > 0)
                    prevPageLink.css('visibility', 'visible');

                var lastPage = this.getNumPages() - 1;
                if (this.displayedPage < lastPage)
                    nextPageLink.css('visibility', 'visible');

                this.fadeTo('fast', 1.0);
            }

        });

        $(document).on('fullWallCurrent', document, function(e) {
            gallery.gotoIndex(e.position);
            var photo_id = $($('#thumbs').find('a.thumb').get(e.position)).attr('data-photo-id');
            increasePhotoViewsCount(photo_id);
        });

        gallery.find('a.prev').click(function(e) {
            e.preventDefault();
            gallery.previousPage();
        });

        gallery.find('a.next').click(function(e) {
            e.preventDefault();
            gallery.nextPage();
        });

        function pageload(hash) {

            if (hash) {
                $("body").css("overflow", "hidden");
                $('#tint').show();
                $('.gallery-modal-wrapper').show();

//                var im = $('#thumbs').find('a.thumb[data-photo-id='+hash+']');
//
//                var im = $('ul.thumbs a.thumb[data-photo-id='+hash+']');
//
//                var index = $('ul.thumbs a.thumb').index(im)+1;
//                index = index.toString();
//                console.log(index);
//
//                $.galleriffic.gotoImage(index);
                console.log('hash_gt'+hash);
                $.galleriffic.gotoImage(hash);

                var photo_id = $($('#thumbs').find('a.thumb').get(hash)).attr('data-photo-id');
                increasePhotoViewsCount(photo_id);
//                increasePhotoViewsCount(im.attr('data-photo-id'));
            }
        }

        $.historyInit(pageload, "advanced.html");

        $("a[rel='history']").live('click', function(e) {
            e.preventDefault();

            var hash = this.href;
            hash = hash.replace(/^.*#/, '');

            console.log('hash'+hash);

//            var im = $('ul.thumbs a.thumb[data-photo-id='+hash+']');
//
//            var index = $('ul.thumbs a.thumb').index(im)+1;
//            index = index.toString();
//            console.log('index'+index);

            $.historyLoad(hash);
//            $.historyLoad(index);
        });

    });
</script>
{% endblock %}

{% block popup %}
    <div id="wall-container">
        <div id="wall-loading"></div>
        <div id="wall-detail"></div>
        <div id="wall">
            <div id="wall-items">
                {% for photo in photos %}
                    <div class="wall-item" data-item-id="{{ forloop.counter0 }}">
                    <span class="bg hide">{% autoescape off %}{{ photo.image.url }}{% endautoescape %}</span>
                    <span class="img_detail hide">{% autoescape off %}{{ photo.original_file.url }}{% endautoescape %}</span>
                    <span class="tooltip hide">{{ photo.title }}</span>
                    <a href="#"><span class="title">{{ photo.title }}</span></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="gallery-modal-wrapper">
        <div class="gallery-modal">
            <div class="content">
                <a href="#" id="gallery-close" class="close">×</a>
                <script type="text/javascript">
                    $(function() {
                        $('#gallery-close').click(function(e) {
                            e.preventDefault();
                            $("body").css("overflow", "auto");
                            $('.gallery-modal-wrapper').hide();
                            $('#tint').hide();

                            window.lastPos = $(window).scrollTop();
                            console.log(window.lastPosition);
                            location.hash = '';
                        });

                        $(document).keydown(function(e) {
                            if (e.keyCode == 27 && $('#gallery-close').is(':visible')) {
                                $('#gallery-close').trigger('click');
                            }
                        });
                    });
                </script>

                <div class="navigation-wrapper">
                    <div class="navigation-container">
                        <div id="thumbs" class="navigation">
                            <a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>

                            <ul class="thumbs noscript">
                                {% for photo in photos %}
                                    <li>
                                        <a class="thumb" id="prev{{ photo.id }}" href="{% autoescape off %}{{ photo.image.url }}{% endautoescape %}" title="{{ photo.title }}" data-photo-id="{{ photo.id }}">
                                            <img src="{% autoescape off %}{{ photo.icon.url }}{% endautoescape %}" alt="{{ photo.title }}" data-photo-id="{{ photo.id }}" />
                                        </a>
                                        <div class="caption">
                                            <h5>{{ photo.title }}</h5>
                                            <p>
                                                {{ photo.description }}
                                            </p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>

                            <a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
                        </div>
                    </div>
                </div>

                <div class="hr"></div>
                <div class="gallery-content">
                    <div class="slideshow-container">
                        <div id="loading" class="loader"></div>
                        <div id="slideshow" class="slideshow"></div>
                    </div>
                    <div id="caption" class="caption-container">
                        <div class="photo-index"></div>
                    </div>
                    <a href="#" id="show-full-screen">На весь экран</a>
                </div>
                <div id="vk_comments" style="margin: 0 auto;"></div>
            </div>
        </div>
    </div>

    {% if profile.id == request.user.id %}
        <section class="b-popup" id="popup-confirm-video" style="left:50%; top:100px;">
    <section class="b-form b-form_left b-form_smaller b-form_popup b-form_popup_confirm">
        <header class="b-form__header">
            <h4>
                Подтвердите действие
            </h4>
            <p id="dialog-text">
                {= text }
            </p>
        </header>
        <footer class="b-form__footer cleared">
            <a href="#" class="b-button b-button_yellow left cancel" id="confirm-popup-cancel">Отменить</a>
            <a href="#" class="b-button b-button_red right videos_delete" id="confirm-popup-ok">Удалить</a>
        </footer>
    </section><!--b-form-->
    <div class="b-popup__tl"></div>
    <div class="b-popup__tr"></div>
    <div class="b-popup__br"></div>
    <div class="b-popup__bl"></div>
</section><!--b-popup-->

        <section class="b-popup" id="popup-move-video" style="left:50%; top:100px;">
    <section class="b-form b-form_smaller b-form_popup">
        <form action="{% url photo-move %}" method="post">
            {% csrf_token %}
            <header class="b-form__header">
                <h3>
                    Переместить в альбом
                </h3>
            </header>
            <div class="b-form__fields">
                <div class="b-form__field" id="albums-list">
                    {% for item in profile.photoalbum_set.all %}
                        <div class="b-form__field b-form__field_radio">
                        <div class="f-radio">
                            <div>
                                <input {% if item == object %}disabled="disabled"{% endif %} type="radio" name="album" value="{{ item.id }}" id="album{{ item.id }}" data-album-to-move="{{ item.id }}" />
                                <label for="album{{ item.id }}" {% if item == object %}style="color: #666;"{% endif %}>
                                {{ item.title }}
                                    {% if item == object %}(Текущий альбом){% endif %}
                                </label>
                            </div>
                            <div class="f-err"><span></span></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <footer class="b-form__footer cleared">
                <a href="#" class="b-button b-button_yellow right videos_delete" id="confirm-popup-ok">Переместить</a>
                <a href="#" class="b-button b-button_red left cancel" id="confirm-popup-cancel">Отменить</a>
            </footer>
        </form>
    </section><!--b-form-->
    <div class="b-popup__close" title="Закрыть"><i class="b-ico b-ico_x"><i></i></i></div>
    <div class="b-popup__tl"></div>
    <div class="b-popup__tr"></div>
    <div class="b-popup__br"></div>
    <div class="b-popup__bl"></div>
</section><!--b-popup-->
    {% endif %}
    {# Шаблоны для JavaScript кода #}
    <div style="display: none;">
    <div id="videoalbum-empty-block-tpl" class="b-empty b-empty_video-album" style="display: none;">
        <div class="b-empty__pic"></div>
        <strong class="b-empty__text">Нет видеоальбомов</strong>
        {% if profile.id == request.user.id %}
            <div>
            <a href="{% url video-album-add %}" class="b-button b-button_yellow">Создать альбом</a>
        </div>
        {% endif %}
    </div>

        {% if profile.id == request.user.id and not videos.count %}
            <div id="video-empty-block-tpl" class="b-empty b-empty_video" style="display: none;">
        <div class="b-empty__pic"></div>
        <strong class="b-empty__text">Нет видеороликов</strong>
                {% if profile.id == request.user.id %}
                    <div><a href="{% url video-add %}" class="b-button b-button_yellow">Загрузить видео</a></div>
                {% endif %}
    </div>
        {% endif %}
        {% if profile.id == request.user.id %}
            <div id="move-dialog-list-item-tpl" class="b-form__field b-form__field_radio">
        <div class="f-radio">
            {% for album in profile.videoalbum_set.all %}
                <div>
                    <input type="radio" name="album" value="{{ album.id }}" id="album{{ album.id }}" data-album-id="{{ album.id }}" />
                    <label for="album{{ album.id }}">{{ album.title }}</label>
                </div>
                <div class="f-err"><span></span></div>
            {% endfor %}
        </div>
    </div>
        {% endif %}
</div>
{% endblock %}
