{% extends "accounts/profile_edit_wrapper.html" %}

{% block title %}Фотография профиля{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}s/cusel.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}s/imgareaselect/imgareaselect-animated.css" />
{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}j/cusel-min-2.4.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/imgareaselect/jquery.imgareaselect.pack.js"></script>
{% endblock %}

{% block edit_form %}
<section class="b-form b-form_smaller b-form_left b-form_edit b-form_edit_photo2">
    <form name="avatar_form" action="{% url 'profile-edit-avatar' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <a class="form-profile-view" href="{% url 'profile-detail' profile.id %}">Просмотр профиля</a>
        <div class="b-form__fields">
            {% with type=user.type pf=user %}

                {% if type == pf.TYPE_STUDIO or type == pf.TYPE_SCHOOL %}
                    <h3 class="title">Редактирование логотипа</h3>
                {% elif type == pf.TYPE_USER %}
                    <h3 class="title">Редактирование фотографии</h3>
                {% endif %}

                <fieldset>
                    <div class="b-form__pic">
                        <div class="b-ava b-ava_big">
                            {% if pf.min_avatar %}
                                <img src="{{ pf.min_avatar.url }}?{% now 'su' %}" width="175" height="175" alt="Добавьте фото" />
                            {% else %}
                                {% if type == pf.TYPE_USER %}
                                    <img src="{{ STATIC_URL }}i/add-user-foto.png" width="175" height="175" alt="Добавьте фото" />
                                {% elif type == pf.TYPE_SCHOOL %}
                                    <img src="{{ STATIC_URL }}i/add-school-foto.png" width="175" height="175" alt="Добавьте логотип" />
                                {% elif type == pf.TYPE_STUDIO %}
                                    <img src="{{ STATIC_URL }}i/add-studio-foto.png" width="175" height="175" alt="Добавьте логотип" />
                                {% elif type == pf.TYPE_FESTIVAL %}
                                    <img src="{{ STATIC_URL }}i/add-studio-foto.png" width="175" height="175" alt="Добавьте логотип" />
                                {% endif %}
                            {% endif %}
                            <i class="b-ava__sh"></i>
                        </div>
                    </div>
                    <div class="b-form__txt">

                        <p>
                            {% if type == pf.TYPE_USER %}
                                Загрузите фотографию и выберите область, которая будет использована для юзерпика.
                            {% else %}
                                Загрузите изображение и выберите область, которая будет использована для логотипа.
                            {% endif %}
                        </p>

                            <span class="f-input">
                                <input type="file" name="avatar" id="id_avatar" style="margin-top: 8px;" />
                                <input type="hidden" name="avatar_coords" value='{"x1":0,"y1":0,"x2":175,"y2":175,"w":175,"h":175}' id="id_avatar_coords" />
                            </span>
                        {% if form.avatar.errors %}
                            <div class="f-err" style="margin: 8px 0 0;"><span>{{ form.avatar.errors }}</span></div>
                        {% endif %}
                    </div>
                    <div class="clear" style="height: 18px;"></div>

                    {% if pf.avatar and not form.avatar.errors %}
                        <img src="{{ pf.avatar.url }}?{% now 'su' %}" id="current_avatar" style="max-width: 500px;" />
                    {% endif %}

                </fieldset>

            {% endwith %}

            </div>
        <footer class="b-form__footer">
            <div class="wrap">
                <a href="#" class="b-button b-button_yellow button-submit">Сохранить</a>
            </div>
        </footer>
    </form>

    <script>
        $(function() {
            $('#current_avatar').imgAreaSelect({
                handles: true,
                aspectRatio: '1:1',
                minHeight: 175,
                minWidth: 175,
                x1: 0,
                y1: 0,
                x2: 175,
                y2: 175,
                onSelectChange: function(i, s) {
                    $('#id_avatar_coords').val(JSON.stringify(s));
{#                    console.log(s);#}
                }
            });
        });
    </script>
</section>
{% endblock %}
