{% extends "base.html" %}
{% load videotags %}
{% block content %}
    <div class="b-main-box d-rounded d-rounded_r10 d-sh">
        <header class="b-article__head">
            <h2>Афиша канала {{ playlist.channel }} на {{ playlist.rotate_from_date }}</h2>
        </header><!--b-tv__head-->
    <div class="b-tv__body js-toggle2-block"><div class="b-tv__body__i">
    <div class="l-cols l-cols_tv"><div class="l-cols__i cleared">
    <section class="l-cols__section"><div class="l-cols__section__i">
    <article class="b-tv-programs">
    {% include 'snippets/playlist_items.html' with playlistitem_set=playlist.playlistitem_set %}
    </article>
    </div>
    </section>
    </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
