{% load sitetree %}
<ul>
    <h4>Выбор события</h4>
    {% spaceless %}
        {% for item in sitetree_items %}
            {% if item.is_current or item.in_current_branch %}
                <li class="selected"><strong>{{ item.title_resolved }}</strong></li>
            {% else %}
                <li><a href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %}>{{ item.title_resolved }}</a></li>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
</ul>
