{% extends "email/base.html" %}

{% block content %}
    <td>
        <p style="margin: 4px 5px;"><b>Событие</b> - {{ participant.event }}</p>
        <p style="margin: 4px 5px;"><b>Участник</b> - {{ participant.owner.title }}</p>
        <p style="margin: 4px 5px;">
            <b>Видео для выставления оценок:</b></p>
        <ul>
            {% for video in videos %}
                <li><a href="http://probumerang.tv{% url 'video-detail' video.video.pk %}?pv={{ video.pk }}">{{ video.video.title }}</a></li>
            {% endfor %}
        </ul>
        <p style="margin: 4px 5px;">Для просмотра и выставления оценок видео перейдите по указанным
            выше ссылкам с названиями видео.</p>
        <p style="margin: 4px 5px;">Для выставления оценок в списке перейдите на страницу
            http://www.probumerang.tv{% url 'event-films' participant.event_id %} и выставите оценки видео в списке работ.</p>
    </td>
{% endblock %}
