<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<link rel="shortcut icon" href="favicon.ico" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="s/reset.css" />
	<link rel="stylesheet" href="s/style.css" />
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="s/style-ie.css" />
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="j/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="j/jquery.gradienttext.js"></script>
	<script type="text/javascript" src="j/jquery.interface.js"></script>
</head>
<body>
<div class="l-page"><div class="l-page__i">
	<header class="l-head">
		<div class="l-head__space"></div>
		<div class="logo">
			<a href="index.html"><img src="i/bumerangtv-logo.png" alt="PRO Бумеранг ТВ" width="383" height="61" /></a>
		</div>
		<nav class="b-navigation d-rounded d-rounded_r10 d-sh">
			<ul>
				<li><a href="inside.html">О проекте</a></li>
				<li><a href="all news.html">Новости</a></li>
				<li><a href="">История</a></li>
				<li><a href="">Советы профессионалов</a></li>
				<li><a href="video archive.html">Видеоархив</a></li>
				<li><a href="photo archive.html">Фотогалерея</a></li>
				<li class="selected"><a href="list of users.html">Участники</a></li>
				<li><a href="">Конкурсы</a></li>
				<li><a href="">Форум</a></li>
			</ul>
		</nav>
		<ul class="buttons-wrap">
			<li>
				<a href="#" class="b-button b-button_yellow b-button_add">Добавить видео</a>
			</li>
			<li>
				<div class="enter-lnk">
					<i class="b-ico b-ico_key"><i></i></i>
					<span class="b-pseudolink"><span>Вход с паролем</span></span>
				</div>
			</li>
		</ul>
	</header>
	<div class="l-body"><div class="l-body__i">
		<div class="l-cols"><div class="l-cols__i cleared">
			<section class="l-cols__section"><div class="l-cols__section__i">
				<header class="b-page-head">
					<nav class="b-crumbs">
						<a href="">Участники</a>
						<span class="b-crumbs__sep">/</span>
						<a href="">Константин Константинопольский</a>
					</nav>
					<h1>The Four of Us are Dying</h1>
				</header>
				<div class="b-main-box d-rounded d-rounded_r10 d-sh cleared">
					<section class="b-movie js-toggle2-container">
						<video class="video" id="movie" width="100%" height="380" preload controls style="background:url(i/fake/video.jpg) repeat-x;">
							<img src="i/fake/video.jpg" width="100%" height="380" alt="" />
						</video>
						<div class="b-movie__panel cleared">
							<div class="b-vote">
								<a href="" class="b-vote__like"><i class="b-ico b-ico_heart"><i></i></i><span>нравится</span></a>
								<span class="b-vote__rating"><span>67</span></span>
								<a href="" class="b-vote__notlike" title="не нравится"><i class="b-ico b-ico_heart2"><i></i></i></a>
							</div>
							<div class="viewed">
								<i class="b-ico b-ico_eye2"><i></i></i>
								5 765 просмотров
							</div>
						</div>
						<article class="js-toggle2-block" style="">
							<p>
								В случае если какое-то поле не было заполнено в информации о сюжете, то оно не выводится.
								В окне описания к сюжету разрешается добавлять много текста. Если контент не умещается,
								то правее появляется ползунок прокрутки.
							</p>
							<ul class="b-opts">
								<li>
									<strong>Жанр:</strong>
									<span>социальный ролик</span>
								</li>
								<li>
									<strong>Город:</strong>
									<span>Волжский</span>
								</li>
								<li>
									<strong>Страна:</strong>
									<span>Россия</span>
								</li>
								<li>
									<strong>Учреждение:</strong>
									<span>студия Мультимедии и Анимации &laquo;Первые ласточки&raquo;</span>
								</li>
								<li>
									<strong>Продолжительность:</strong>
									<span>1 минута 11 секунд</span>
								</li>
								<li>
									<strong>Авторы:</strong>
									<span>Алексей Задубровский, Ярослав Симкин, Александр Рубан, Ирина Патрина, Елена Макарова, Светлана Узлова, Сергей Диденко</span>
								</li>
								<li>
									<strong>Год:</strong>
									<span>2011</span>
								</li>
								<li>
									<strong>Участие в фестивалях:</strong>
									<span>3 конкурс детского телевизионного творчества &laquo;ДЕТВора 2011&raquo;.</span>
								</li>
							</ul>
						</article>
						<footer class="b-movie__foot">
							<div class="b-close-lnk">
								<i class="b-ico b-ico_x"><i></i></i>
								<span class="b-pseudolink js-toggle2-lnk"><span><span class="js-toggle2-text">Скрыть</span> описание ролика</span></span>
							</div>
						</footer>
					</section><!--b-movie-->
				</div><!--b-main-box-->
				<section class="b-comments l-comments">
					<header class="b-comments__head">
						<h3>Комментарии пользователей</h3>
					</header>
					<section class="b-form b-form_comment">
						<form>
							<div class="b-form__fields">
								<div class="b-form__field">
									<label>
										<span class="b-ava b-ava_small">
											<img src="i/fake/ava1.jpg" width="100" height="100" alt="" />
										</span>
										<span class="f-textarea">
											<textarea rows="5" cols="20" class="wide"></textarea>
										</span>
									</label>
								</div>
							</div>
							<footer class="b-form__footer">
								<a href="" class="b-button b-button_yellow">Добавить</a>
							</footer>
						</form>
					</section>
					<div class="b-comments__i">
						<section class="b-comment">
							<header class="b-comment__head">
								<div class="b-ava b-ava_small">
									<img src="i/fake/ava1.jpg" width="100" height="100" alt="" />
								</div>
								<h4><a href="">Вася Васечкин</a></h4>
								<time>12:56, 28.09.2011</time>
								<p>
								05 июня в городе Реджио Эмилия на площади Пьяцио Коммунале состоялась
								церемония Открытия 10-й всемирной встречи и чемпионата мира по
								парашютному спорту среди ветеранов. В церемонии Открытия приняли
								участие команды из 16 стран мира. Флаг российской сборной нес Петр
								Сергеевич Лучшев из Ульяновска.
								</p>
							</header>
						</section>
						<section class="b-comment">
							<header class="b-comment__head">
								<div class="b-ava b-ava_small">
									<img src="i/fake/ava1.jpg" width="100" height="100" alt="" />
								</div>
								<h4><a href="">Джон (JOSH)</a></h4>
								<time>12:56, 28.09.2011</time>
								<p>
								Конечная морена прекращает излом, где на поверхность выведены кристаллические структуры фундамента.
								</p>
							</header>
						</section>
					</div>
				</section>
			</div></section>
			<aside class="l-cols__side"><div class="l-cols__side__i">
				<section class="b-adv b-adv2">
					<header>
						<div class="b-adv__close" title="Закрыть"><i class="b-ico b-ico_x"><i></i></i></div>
						<div class="b-adv__title">Реклама</div>
					</header>
					<p>
						<a href="">
							<img src="i/fake/ban1.jpg" alt="" width="200" height="340" />
						</a>
					</p>
				</section>
				<section class="b-announs b-announs_movie b-announs_movie_smaller b-announs_movie_side">
					<header class="announs-head">
						<h3>Популярное видео</h3>
					</header>
					<div class="announs-items">
						<article class="announ-item cleared">
							<div class="ai-img d-sh">
								<a href="">
									<span>
										<img src="i/fake/mov2.png" width="165" height="107" alt="" />
										<span class="time">1:54</span>
									</span>
								</a>
							</div>
							<header class="ai-head">
								<hgroup>
									<h3><a href="">BACKSTAGE</a></h3>
									<h4>Студия &laquo;<a href="">12South</a>&raquo;</h4>
								</hgroup>
							</header>
							<footer class="ai-foot">
								<ul class="b-stat">
									<li class="like"><i class="b-ico b-ico_heart"><i></i></i><span>1 564</span></li>
									<li class="viewed"><i class="b-ico b-ico_eye"><i></i></i><span>25 878</span></li>
								</ul>
							</footer>
						</article>
						<article class="announ-item cleared">
							<div class="ai-img d-sh">
								<a href="">
									<span>
										<img src="i/fake/mov1.png" width="165" height="107" alt="" />
										<span class="time">1:54</span>
									</span>
								</a>
							</div>
							<header class="ai-head">
								<hgroup>
									<h3><a href="">Edit</a></h3>
									<h4>Школа &laquo;<a href="">1249</a>&raquo;</h4>
								</hgroup>
							</header>
							<footer class="ai-foot">
								<ul class="b-stat">
									<li class="like"><i class="b-ico b-ico_heart"><i></i></i><span>1 564</span></li>
									<li class="viewed"><i class="b-ico b-ico_eye"><i></i></i><span>25 878</span></li>
								</ul>
							</footer>
						</article>
					</div>
				</section>
			</div></aside>
		</div></div><!--l-cols_view-->
	</div></div><!--l-body-->
</div></div><!--l-page-->
<footer class="l-foot"><div class="l-foot__i">
	<section class="l-foot__c">
		<div class="t-addthis">
			<table>
				<tr>
					<td class="td-google"><img src="i/fake/add1.png" alt="" /></td>
					<td class="td-fb"><img src="i/fake/add2.png" alt="" /></td>
					<td class="td-tw"><img src="i/fake/add3.png" alt="" /></td>
					<td class="td-vk"><img src="i/fake/add4.png" alt="" /></td>
				</tr>
			</table>
		</div>
	</section>
	<aside class="l-foot__l">
		<p class="copyright">&copy; ПРО Бумеранг, 2010—2011</p>
		<p>
			<a href="">Обратная связь</a>
			<br/>
			<a href="">Условия использования сайта</a>
		</p>
	</aside>
	<aside class="l-foot__r"></aside>
</div></footer><!--l-foot-->
</body>
</html>