django
django-configurations
Pillow
South
django-debug-toolbar
django-filebrowser
django-mptt
django-sitetree
django-tinymce
django-extensions
werkzeug
-e git+git@github.com:clincher/django-ratings.git#egg=django-ratings
fabric
boto
django-storages
ipython
mysql-python
django-ses
pydkim
pytz
dnspython
django-celery-with-redis
johnny-cache
coverage
django-coverage
django-grappelli
feincms

celery
django-kombu
django-celery
python-dateutil
