django==1.4.2
Pillow
South
django-debug-toolbar
django-filebrowser==3.5.1
django-mptt
django-sitetree==0.6
django-tinymce
wsgiref==0.1.2
django-extensions
werkzeug
django-ratings==0.3.6
fabric
boto==2.6.0
django-storages
ipython
mysql-python
git+git://github.com/hmarr/django-ses.git
pydkim
pytz
dnspython
django-celery-with-redis
simplejson
johnny-cache
coverage >= 3.0
django-coverage
django-grappelli==2.4.3
django-configurations
