{% extends "accounts/accounts_wrapper.html" %}
{% load sitetree %}

{% block title %}Восстановление пароля{% endblock %}

{% block left_column %}
        <section class="b-form">
            <form name="recoveryform" action="" method="POST">
            {% csrf_token %}
            <header class="b-form__header">
                <h1>Востановление пароля</h1>
            </header>
            <div class="b-form__fields">
                <div class="b-form__field">
                    <label>
                        <span class="f-title"><span>Почта</span></span>
                        <span class="f-input">
                            <span class="b-input">{{ form.email }}</span>
                        </span>
                    </label>
                    {% if form.email.errors %}<div class="f-err"><span>{{ form.email.errors }}</span></div>{% endif %}
                </div>
            </div>
            <footer class="b-form__footer">
                <div class="wrap"><a href="" class="b-button b-button_yellow" onclick="document.recoveryform.submit();">Напомнить</a></div>
            </footer>
            </form>
        </section><!--b-form-->
{% endblock %}

{% block right_column %}
{% endblock %}