{% extends "accounts/profile_edit_wrapper.html" %}

{% block title %}Фотография профиля{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}s/cusel.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}s/jquery.Jcrop.css" />
{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}j/cusel-min-2.4.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.Jcrop.min.js"></script>
{% endblock %}

{% block edit_form %}
<section class="b-form b-form_smaller b-form_left b-form_edit b-form_edit_photo">
    <form name="avatar_form" action="{% url profile-edit-avatar %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="b-form__fields">
            <h3 class="title">Редактирование Фотографии</h3>
            <p>
                Выберите область фотографии, которая будет использованна для юзерпика.
                <br/>
                Или загрузите новый файл.
            </p>

            <fieldset>
                <div class="b-form__field">
                    <label>
                            <span class="f-title">
                                Фотография профиля:
                            </span>
                            <span class="f-input">
                                <input type="file" name="avatar" id="id_avatar" />
                                <input type="hidden" name="avatar_coords" value="{{ form.avatar_coords.value|default:'' }}" id="id_avatar_coords" />
                            </span>
                    </label>
                    {% if form.avatar.errors %}
                        <div class="f-err"><span>{{ form.avatar.errors }}</span></div>
                    {% endif %}
                </div>
            </fieldset>

            {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}" id="current_avatar" style="max-width: 710px"/>
            {% endif %}
            </div>
        <footer class="b-form__footer">
            <div class="wrap">
                <a href="" class="b-button b-button_yellow button-submit">Сохранить</a>
            </div>
        </footer>
    </form>
</section>
{% endblock %}
