{% extends "accounts/profile_edit_wrapper.html" %}

{% block title %}Редактирование резюме{% endblock %}

{% block edit_form %}
<section class="l-cols__section"><div class="l-cols__section__i">
    <h3 class="title">Настройки</h3>
    <section class="b-form b-form_smaller b-form_smaller_login-pass b-form_edit b-form_edit_login-pass">
        <div class="b-form__fields">
            <form action="" method="POST">
                {% csrf_token %}
                {% for error in pwd_form.errors %}
                    {{ error }}
                {% endfor %}
                {{ pwd_form }}
                <input type="submit">
            </form>
        </div>
    </section>
</section>
{% endblock %}