{% extends "inside.html" %}
{% load sitetree %}

{% block title %}{{ profile.title }}{% endblock %}

{% block left_col %}
    <section class="l-cols__section"><div class="l-cols__section__i">
        <div class="b-tabs d-sh">
            <dl>
                <dt class="first selected">
                    <span>Профиль {% for videoalbum in object.user.videoalbum_set.all %}{{ videoalbum }}{% endfor %}</span>
                    <i class="l"></i>
                    <i class="r"></i>
                </dt>
                <dd class="selected"><div class="b-tabs__tab-content">
                    <section class="b-profile">
                        <header class="b-profile__head cleared">
                            <div class="b-profile__pic">
                                <div class="b-ava b-ava_big">
                                    <img src="i/noava-b.jpg" width="175" height="175" alt="" />
                                    <i class="b-ava__sh"></i>
                                </div>
                                <ul class="b-opts b-opts_prof2">
                                    <li><strong>Просмотров</strong> <span>{{ object.views_count }}</span></li>
                                    <li><strong>Друзей</strong> <span>{{ object.friends_count }}</span></li>
                                </ul>
                            </div>
                            <div class="b-profile__txt">
                                <ul class="b-service-buttons">
                                    <li class="edit"><i></i><a href="">Редактировать профиль</a></li>
                                </ul>
                                <h2>
                                    {% if object.type != 1 %}
                                        {{ object.get_type_display }} {{ object.title }}
                                    {% else %}
                                        {{ object.title }}
                                    {% endif %}
                                </h2>
                                <ul class="b-opts b-opts_prof1">
                                    {% if object.place %}
                                        <li><strong>Откуда</strong><span>{{ object.place }}</span></li>
                                    {% endif %}
                                    {% if object.birthday %}
                                        <li><strong>День рождения</strong> <span>{{ object.birthday }}</span></li>
                                    {% endif %}
                                    {% if object.username %}
                                        <li><strong>Никнейм</strong> <span>{{ object.username }}</span></li>
                                    {% endif %}
                                </ul>
                                <p class="smaller">
                                    {{ object.description }}
                                </p>
                            </div>
                        </header>
                    </section>
                </div></dd>
                <dt>
                    <span>Видео</span>
                    {% for video_album in object.videoalbums_set %}
                        {{ video_album }}
                    {% empty %}
                        нету альбомов
                    {% endfor %}
                    {% if object.videoalbums_set.count %}
                        <small>{{ object.videoalbums_set.count }}</small>
                        <i class="l"></i>
                        <i class="r"></i>
                    {% endif %}
                </dt>
                <dd><div class="b-tabs__tab-content">
                </div></dd>
                <dt>
                    <span>Фото</span>
                    <small>0</small>
                    <i class="l"></i>
                    <i class="r"></i>
                </dt>
                <dd><div class="b-tabs__tab-content">
                </div></dd>
            </dl>
        </div>
    </div></section>
{% endblock %}