{% extends "inside.html" %}
{% load sitetree %}

{% block title %}
    {% if object.type != 1 %}
        {{ object.get_type_display }} {{ object.title }}
    {% else %}
        {{ object.title }}
    {% endif %}
{% endblock %}


{% block left_col %}
        <div class="b-tabs d-sh">
            <dl>
                <dt class="first selected">
                    <span>Профиль {% for videoalbum in object.user.videoalbum_set.all %}{{ videoalbum }}{% endfor %}</span>
                    <i class="l"></i>
                    <i class="r"></i>
                </dt>
                <dd class="selected"><div class="b-tabs__tab-content">
                    <section class="b-profile">
                        <header class="b-profile__head cleared">
                            <div class="b-profile__pic">
                                <div class="b-ava b-ava_big">
                                    {% if not object.avatar %}
                                    <img src="{{ STATIC_URL }}i/noava-b.jpg" width="175" height="175" alt="" />
                                    {% else %}
                                    <img src="{{ object.avatar }}" width="175" height="175" alt="" />
                                    {% endif %}
                                    <i class="b-ava__sh"></i>
                                </div>
                                <ul class="b-opts b-opts_prof2">
                                    <li><strong>Просмотров</strong> <span>{{ object.views_count }}</span></li>
                                    <li><strong>Друзей</strong> <span>{{ object.friends_count }}</span></li>
                                </ul>
                            </div>
                            <div class="b-profile__txt">
                                {% include "accounts/service_buttons.html" %}
                                <h2>
                                    {% if object.type != 1 %}
                                        {{ object.get_type_display }} {{ object.title }}
                                    {% else %}
                                        {{ object.title }}
                                    {% endif %}
                                </h2>
                                <ul class="b-opts b-opts_prof1">
                                    {% if object.place %}
                                    <li><strong>Откуда</strong><span>{{ object.place }}</span></li>
                                    {% endif %}
                                    {% if object.birthday %}
                                    <li><strong>День рождения</strong> <span>{{ object.birthday }}</span></li>
                                    {% endif %}
                                    {% if object.nickname %}
                                    <li><strong>Никнейм</strong> <span>{{ object.nickname }}</span></li>
                                    {% endif %}
                                </ul>
                                <p class="smaller">
                                    {{ object.description }}
                                </p>
                            </div>
                        </header>
                    </section>
                </div></dd>
                <dt>
                    <!--<span>Видео</span>-->
                    <a href="{% url profile_video object.id %}">Видео</a>
                    <small>{{ object.video_set.all.count }}</small>
                    <i class="l"></i>
                    <i class="r"></i>
                </dt>
                <dd><div class="b-tabs__tab-content">
                </div></dd>
                <dt>
                    <span>Фото</span>
                    <small>0</small>
                    <i class="l"></i>
                    <i class="r"></i>
                </dt>
                <dd><div class="b-tabs__tab-content">
                </div></dd>
            </dl>
        </div>
    </div>
{% endblock %}