{% extends "accounts/profile_edit_wrapper.html" %}
{% load sitetree %}

{% block title %}Редактироване профиля{% endblock %}

{% block edit_form %}
    <section class="b-form b-form_smaller b-form_edit">
        <form name="editform" action="" method="post">
            {% csrf_token %}
            <div class="b-form__fields">
                <h3 class="title">
                    {% if user.profile.type == 1 %}
                        {% sitetree_page_title from "user_edit_menu" %}
                    {% endif %}{% if user.profile.type == 2 %}
                        {% sitetree_page_title from "school_edit_menu" %}
                    {% endif %}{% if user.profile.type == 3 %}
                    {% sitetree_page_title from "studio_edit_menu" %}
                {% endif %}
                </h3>
                {% for item in form %}
                    <fieldset>
                    <div class="b-form__field">
                        <label>
                            <span class="f-title">
                                <span>{{ item.label }}</span>
                            </span>
                            <span class="f-input">
                                {{ item }}
                            </span>
                        </label>
                        {% if item.errors %}
                            <div class="f-err"><span>{{ item.errors }}</span></div>
                        {% endif %}
                    </div>
                    </fieldset>
                {% endfor %}
            </div>
            <footer class="b-form__footer">
                <div class="wrap">
                    <a href="#" class="b-button b-button_yellow" onclick="document.editform.submit();">Сохранить</a>
                </div>
            </footer>
        </form>
    </section>
{% endblock %}

