{% extends "accounts/profile_edit_wrapper.html" %}

{% block title %}Фотография профиля{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}s/cusel.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}s/jquery.Jcrop.css" />
{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}j/cusel-min-2.4.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.custominput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.Jcrop.min.js"></script>
{% endblock %}

{% block edit_form %}
<section class="b-form b-form_smaller b-form_left b-form_edit b-form_edit_photo">
    <form name="avatar_form" action="{% url profile-edit-avatar %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="b-form__fields">
            <h3 class="title">Редактирование Фотографии</h3>
            <p>
                Выберите область фотографии, которая будет использованна для юзерпика.
                <br/>
                Или загрузите новый файл.
            </p>
            <div class="b-form__field">
                <label>
                    <span class="f-input">
{#                        {{ form }}#}
                        <tr>
                            <th>
                                <label for="id_avatar">Фотография профиля:</label>
                            </th>
                            <td>
                                {% for i,e in form.avatar.errors %}
                                    {{ i }}
                                    {{ e }}
                                {% endfor %}
                                {% if form.avatar.errors %}
                                    <div class="f-err"><span>{{ form.avatar.errors }}</span></div>
                                {% endif %}
{#                                <input type="checkbox" name="avatar-clear" id="avatar-clear_id" />#}
{#                                <label for="avatar-clear_id">Очистить</label>#}
                                <br />Изменить.:
                                <input type="file" name="avatar" id="id_avatar" />
                                <input type="hidden" name="avatar_coords" value="{{ form.avatar_coords.value }}" id="id_avatar_coords" />
                            </td>
                        </tr>
                    </span>
                </label>
            </div>
{#            <fieldset>#}
{#                <div class="b-form__field">#}
{#                    <label>#}
{#                            <span class="f-title">#}
{#                                <span>{{ item.label }}</span>#}
{#                            </span>#}
{#                            <span class="f-input">#}
{#                                {{ item }}#}
{#                            </span>#}
{#                    </label>#}
{#                    {% if item.errors %}#}
{#                        <div class="f-err"><span>{{ item.errors }}</span></div>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </fieldset>#}
            {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}" id="current_avatar" style="max-width: 710px"/>
            {% endif %}
            </div>
        </div>
        <footer class="b-form__footer">
            <div class="wrap">
                <a href="" class="b-button b-button_yellow" onclick="document.avatar_form.submit();">Сохранить</a>
            </div>
        </footer>
    </form>
</section>
{% endblock %}

{% block edit_side_nav %}
    <ul>
        <li><a href="{% url profile-edit %}">Общая информация</a></li>
        <li class="selected"><strong>Фотография профиля</strong></li>
        <li><a href="{% url profile-edit-resume %}">Резюме</a></li>
        <li><a href="">Настройка аккаунта</a></li>
    </ul>
{% endblock %}