{% load thumbnail %}
<ul class="media-list">
{% for item in object_list %}
  <li class="media">
    {% if item.image %}
    <div class="media-left">
      {% thumbnail item.image "100x100" as im %}
        <a href="{% url 'news-detail' item.category.slug item.slug %}">
          <img class="media-object" src="{{ im.url }}" alt="">
        </a>
      {% endthumbnail %}
    </div>
  {% endif %}
    <div class="media-body">
      <h4 class="media-heading"><a href="{% url 'news-detail' item.category.slug item.slug %}">{{ item.title }}</a></h4>
      <p>{{ item.creation_date|date:'d E Y' }}</p>
      <div>{{ item.preview_text|safe }}</div>
    </div>
  </li>
{% endfor %}
</ul>
