<div id="movie" width="700" height="380" style="background:url({{ STATIC_URL }}img/player.png); margin: 0 auto;"></div>
                    <div id="movie-description"></div>
<script type="text/javascript">
  function set_schedule(cycle, id){
    var i = "#playlistitem-" + cycle + '-' + id;
      $(i).prevAll().addClass("tp-item_past").removeClass("tp-item_now tp-item_future");
      $(i).nextAll().addClass("tp-item_future").removeClass("tp-item_now tp-item_past");
      $(i).addClass("tp-item_now").removeClass("tp-item_future");
  };
  function start_movie(playerID){
      $.ajax({
          url: "{% url 'current-playlist-item' "main" %}",
          success: function(data){
            if (data['item']) {
              $("#movie-description").html(data['item']['movie_description']);
              $(".b-plenka__i").find("a").text(data['item']['comment']);
              if (uppodGet(playerID, "get[file]").replace("///", "/") != data['item']['file']) {
                uppodSend(playerID, "file:" + data['item']['file']);
                uppodSend(playerID, "comment:" + data['item']['comment']);
              }
              set_schedule(data['item']['cycle'], data['item']['id']);
              if (data['item']['offset']) {
                uppodSend(playerID, "seek:" + data['item']['offset']);
              }
            }

          }
      });
  }

  function uppodEvent(playerID,event) {
      switch(event){
          case "init":
              start_movie(playerID);
              break;
          case "play":
              start_movie(playerID);
              break;
          case "end":
              start_movie(playerID);
              break;
      }
  }
  (function($) {

    $.ajax({
          url: "{% url 'current-playlist-item' "main" %}",
          success: function(data) {
            var flashvars = {
                "comment": data['item']['comment'],
                "st": "{{ STATIC_URL }}uppod/tv-styles.txt",
                "file": data['item']['file'],
                "poster": "{{ STATIC_URL }}img/player.png",
                "uid": "movie"
            };
            var params = {
                bgcolor:"#ffffff",
                allowFullScreen:"true",
                allowScriptAccess:"always",
                id:"movie",
                wmode:"opaque"
            };
            new swfobject.embedSWF(
                    "{{ STATIC_URL }}uppod/tv-player.swf",
                    "movie",
                    "700",
                    "380",
                    "9.0.115.0",
                    false,
                    flashvars,
                    params);
          }
        }
    );
  })(jQuery);

</script>
