{% extends "base.html" %}

{% load bannerstags flatblock_tags %}

{% block title %}Бум ТВ{% endblock %}
{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/swfobject.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}uppod/uppod_api.js"></script>
{% endblock %}

{% block logo %}<img src="{{ STATIC_URL }}img/bumtv-logo.png" class="logo" alt="">{% endblock %}

{% block content %}
  {% include 'snippets/stream.html' %}

  <h3>Сейчас в эфире:</h3>
  <a href="#">
      {% if current_item %}{{ current_item.title }}{% else %}ничего нет{% endif %}
  </a>
  <p>
    {{ current_item.video.description|truncatewords:18 }}
  </p>

  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <h2>Новости <a class="pull-right" href="{% url 'news-list' %}"><small>все новости</small></a></h2>
        {% include 'snippets/news.html' with object_list=last_news %}
    </div>
    <div class="col-xs-12 col-sm-5 bs">
      {% bumtv_home_page_banners %}
    </div>
  </div>
<h2>Проекты</h2>
  <div class="row">
    {% for project in projects %}
      <div class="col-xs-12 col-sm-4">
        <a href="{{ project.get_absolute_url }}">
          <img src="{{ project.image.url }}" alt="" class="img-responsive">
        </a>
      </div>
    {% endfor %}
  </div>

  <h2>О канале</h2>
  {% plain_flatblock 'mainpage' %}

{#</div>#}
{% endblock %}
