{% extends "photo/photo_wrapper.html" %}
{% load sitetree rupluralize %}

{% block title %}
    {% if form.instance.pk %}
        Редактирование фото &laquo;{{ form.instance.title }}&raquo;
    {% else %}
        Создание фото
    {% endif %}
{% endblock %}

{% block left_column %}
    <div class="b-tabs d-sh">
        <dl>
            {% include 'snippets/menu.html' with selected='photo' profile=request.user %}
            <dd class="selected">
                <div class="b-tabs__tab-content">
                    {% include "snippets/section_profile.html" with profile=request.user %}
                    <div class="b-hr">
                        <hr/>
                    </div>
                    <header class="b-head cleared">
                        <a href="{% url 'profile-photo-detail' request.user.id %}" class="b-button-prev"><span>Все альбомы</span></a>
                        <h3>
                            {% if form.instance.pk %}
                                Редактирование фото &laquo;{{ form.instance.title }}&raquo;
                            {% else %}
                                Создание фото
                            {% endif %}
                        </h3>
                    </header>
                    <section class="b-form b-form_album b-form_edit b-form_smaller">
                        <form id="photo-upload-form" name="editform" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="b-form__fields">
                                {% for item in form %}
                                    <fieldset>
                                        <div class="b-form__field">
                                            <label>
                                <span class="f-title">
                                    <span>{{ item.label }}</span>
                                </span>
                                <span class="f-input">
                                    {{ item }}
                                </span>
                                            </label>
                                            {% if item.errors %}
                                                <div class="f-err">
                                                    <span>{{ item.errors }}</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </fieldset>
                                {% endfor %}
                            </div>
                            <footer class="b-form__footer">
                                <div class="wrap">
                                    {% if form.instance.pk %}
                                    <a href="#" class="b-button b-button_yellow button-photo-edit-upload">
                                        Сохранить
                                    </a>
                                    {% else %}
                                    <a href="#" class="b-button b-button_yellow button-photo-upload">
                                        Создать
                                    </a>
                                    {% endif %}
                                </div>
                            </footer>
                        </form>
                    </section>
                </div>
            </dd>
        </dl>
    </div>
{% endblock %}

{% block popup %}
    {% include "snippets/popup_file_upload.html" %}
{% endblock %}
