<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/swfobject.js"></script>
    {#    <script type="text/javascript" src="{{ STATIC_URL }}uppod/uppod.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}uppod/uppod_api.js"></script>
</head>
<body>
<div id="tvplayer"></div>
<button id="tog">button</button>
<script type="text/javascript">
    var flashvars = {
        "comment": "{{ object.title }}",
        "st": "{{ STATIC_URL }}uppod/streaming-styles.txt",
{#        "st": "{{ STATIC_URL }}uppod/video113-881.txt",#}
        {#        "file":"rtmp://shi52gcb3adlb.cloudfront.net/cfx/st/mp4:{{ object.best_quality_file.name }}"#}
        "file": "rtmp://shi52gcb3adlb.cloudfront.net/cfx/st/mp4:{{ object.best_quality_file.name }}",
        "poster": "{{ STATIC_URL }}i/player.png",
        "uid": "tvplayer"
    };
    var params = {
        bgcolor:"#ffffff",
        wmode: "opaque",
        allowFullScreen:"true",
        allowScriptAccess:"always",
        id:"tvplayer",
        wmode:"opaque"
    };
    new swfobject.embedSWF(
            "{{ STATIC_URL }}uppod/uppod.swf",
{#            "{{ STATIC_URL }}uppod/player.swf",#}
            "tvplayer",
            "680",
            "420",
            "9.0.115.0",
            false,
            flashvars,
            params);

    function uppodEvent(playerID,event) {
        switch(event){
            case "start":
                uppodSend("tvplayer", "seek:100");
                uppodSend("tvplayer", "play");
                break;
            case "pause":
//                uppodSend("tvplayer", "play");
                break;
            case "end":
                //воспроизводить следующий
                break;
        }
    }

    $("#tog").click(function(){
        uppodSend("tvplayer", "seek:100");
    });
//    $(document).ready(function(){
//        uppodSend("tv-player", "seek:100");
//    });
//    uppodEvent("tv-player");
//    uppodEvent("tv-player", "end");
//    document.getElementById("tv-player").addEventListener("stop", alert("wtf"),false);

</script>
</body>
</html>