{% extends "django_messages/base.html" %}
{% load i18n %}
{% load inbox %}

{% block title %}Исходящие сообщения{% endblock %}

{% block messages_bar %}
    <div class="b-hr">
        <hr />
    </div>
    <h3>Сообщения</h3>
    <h4><a href="{% url 'messages_inbox' %}">Входящие</a>&nbsp;Исходящие</h4>
    <p>Всего полученных сообщений: {% inbox_all_count %}</p>
{% endblock %}

{% block messages_content %}
    <section class="b-profile">
        {% if message_list %}
            <section class="messages">
            {% for message in message_list %}

                <div class="b-resume__person cleared">
                    <div class="rp__pic">
                        <div class="b-ava">
                            {% if message.sender.min_avatar %}
                                <img src="{{ message.sender.min_avatar.url }}" alt="{{ message.sender.title }}" width="60" height="60" />
                            {% else %}
                                <img src="{{ STATIC_URL }}i/noava-b.jpg" alt="{{ message.sender.title }}" width="60" height="60" />
                            {% endif %}
                            <i class="b-ava__sh"></i>
                        </div>
                    </div>
                    <div class="rp__txt">
                        <h4>
                            <a href="{% url 'profile-detail' message.sender.id %}">{{ message.sender.title|default:message.sender.username }}</a>
                            <span>{{ message.sent_at|date:"j.m.Y в G:i" }}</span>
                        </h4>
                        <h5>
                            {% if message.new %}<strong>{% endif %}
                            {% if message.replied %}<em>{% endif %}
                            <a href="{{message.get_absolute_url }}">{{ message.subject }}</a>
                            {% if message.replied %}</em>{% endif %}
                            {% if message.new %}</strong>{% endif %}
                        </h5>
                        <p>{{ message.body|linebreaksbr|truncatechars:60 }}</p>
                    </div>
                </div>
                <div class="b-hr">
                    <hr />
                </div>
            {% endfor %}
        </section>
        {% else %}
            <h1>Нет входящих сообщений.</h1>
        {% endif %}
    </section>
{% endblock %}
