{% extends "events/event_wrapper.html" %}
{% load sitetree formtags %}

{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}s/start/jquery-ui-1.8.21.custom.css" />
{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.autogrow.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery-ui-1.8.21.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.formset.js"></script>
{% endblock %}

{% block title %}Заявка на создание конкурса или фестиваля{% endblock %}

{% block left_column %}
    <section class="b-form b-form_smaller b-form_edit">
        <form name="editform" action="" method="post">
            {% csrf_token %}
            <div class="b-form__fields">
                <h3 class="title">
                    Заполните форму подачи заявки
                </h3>

{#                {{ group_form }}#}
{##}
{#                {{ event_form }}#}

                    {{ formset.management_form }}

                    {% for form in formset %}
                        <fieldset id="{{ form.prefix }}-row">
                            {{ form }}
{#                            {% for field in form %}#}
{#                                {{ field }}#}
{#                                {{ field|field_type }}#}
{#                            {% endfor %}#}
                        </fieldset>
                    {% endfor %}

                    {{ event_form }}

            </div>
            <footer class="b-form__footer">
                <div class="wrap">
                    <a href="#" class="b-button b-button_yellow button-submit">Отправить заявку</a>
                </div>
            </footer>
        </form>
    </section>

    <script type="text/javascript">
        $(function() {
            $('form fieldset').formset({
                prefix: 'participantvideo_set',
                addText: '{{ add_item_text }}'
            })
        })
    </script>
{% endblock %}

{% block right_menu %}
<nav class="b-side-nav d-indent">

</nav>
{% endblock %}
