{% extends "events/tabs_wrapper.html" %}
{% load sitetree %}

{% block page_title %}
    <h1>{{ object.title }}</h1>
{% endblock %}

{% block tab %}
    {% include 'events/snippets/edit_tabs_menu.html' with selected='event' %}
    <dd class="selected">
        <div class="l-cols l-cols_tab">
            <div class="l-cols__bg-section">
                <div></div>
            </div>
            <div class="l-cols__i cleared">
                <section class="l-cols__section">
                    <div class="l-cols__section__i">
                        {% block edit_form %}{% endblock %}
                    </div>
                </section>
                <aside class="l-cols__side">
                    <div class="l-cols__side__i">
                        <nav class="b-tab-sidenav">
                            {% block edit_side_nav %}
                                {% sitetree_menu from "event_edit_menu" include "trunk" template "accounts/left_menu.html" %}
                            {% endblock %}
                        </nav>
                    </div>
                </aside>
            </div>
        </div>
    </dd>
{% endblock %}

{% block right_menu %}
    <nav class="b-side-nav d-indent" style="margin-top: 60px;">
        <ul>
            <h4>Управление</h4>
            <li>
{#                {% url profile-event-list user.profile.id %}#}
                <a href="" title="Заполнить заявку">Ваши фестивали и конкурсы</a>
            </li>
            <li>
                <a href="{% url event-send-request %}" title="Заполнить заявку">Заполнить заявку</a>
            </li>
        </ul>
        {% include 'snippets/round_frame.html' %}
    </nav>
{% endblock %}
