{% extends "events/tabs_wrapper.html" %}
{% load ratingsutils %}

{% block title %}Победители {{ event.get_type_display }} {{ event }}{% endblock %}

{% block head_js %}
    <script src="{{ STATIC_URL }}j/festivals.js" type="text/javascript"></script>
{% endblock %}

{% block page_title %}
    <h1>{{ event }}</h1>
{% endblock %}

{% block tab %}
    {% include 'events/snippets/tabs_menu.html' with selected='winners' %}

    <dd class="selected hdr-festival-detail"><div class="b-tabs__tab-content">
        <section class="b-profile">
            <header class="b-profile__head cleared">
                <a class="form-profile-view" href="{% url 'event-detail' event.id %}">Просмотр события</a>
                <div class="cleared">&nbsp;</div>
                {% if not event.publish_winners %}
                    В настоящий момент эта страница доступна для просмотра только Вам как организатору {{ event.get_genetive_name|lower }}.
                    Чтобы сделать ее открытой для остальных посетителей нажмите ссылку
                    <a href="{% url 'event-publish-winners' event.id %}">Опубликовать победителей</a>
                {% endif %}
                {% for object in object_list %}
                    {% ifchanged object.nomination %}
                        <br/>
                        <br/>
                        <br/>
                        <h3 class="title">{{ object.nomination }}</h3>
                    {% endifchanged %}
                    {% with item=object.participant_video.video %}
                        {% csrf_token %}
                        <div>
                            <table>
                                <tr>
                                    <td style="width: 190px;">
                                        <a href="{% url 'video-detail' item.id %}" title="{{ item.title }}">
                                            <span>
                                                <img src="{% if item.preview.thumbnail %}{{ item.preview.thumbnail.url }}{% else %}{{ STATIC_URL }}i/nophoto.png{% endif %}" width="190" height="123" alt="" />
                                            </span>
                                        </a>
                                    </td>

                                    <td>
                                        <a href="{% url 'video-detail' item.id %}" title="{{ item.title }}"><h3>{{ item.title }}</h3></a>
                                        <div>
                                            <span class="dark-gray">Участник </span>
                                            <a href="{% url 'profile-detail' item.owner_id %}">{{ item.owner.title }}</a>
                                        </div>
                                        <div>{{ item.description|truncatechars:200 }}</div>
                                        <footer class="ai-foot">
                                            <ul class="b-stat">
                                                <li class="rating">
                                                    <i class="ico b-ico_star"><i></i></i>
                                                    <span id="video-{{ object.id }}-score">{{ object.average_score|floatformat:'-1' }}</span>
                                                </li>
                                                <li class="viewed">
                                                    <i class="b-ico b-ico_eye"><i></i></i>
                                                    <span>{{ item.views_count }}</span>
                                                </li>
                                            </ul>
                                        </footer>
                                        {% if request.user == event.owner %}
                                            <div>
                                                {% if not object.result %}
                                                    <a class="make-winner" href="#" data-nomination-id="{{ object.nomination.id }}" data-participant-video-id="{{ object.id }}">Выбрать победителем</a>
                                                {% else %}
                                                    <a class="unmake-winner" href="#" data-nomination-id="{{ object.nomination.id }}" data-participant-video-id="{{ object.id }}">Убрать из победителей</a>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                            <div class="b-hr"><hr /></div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </header>
        </section>
        {% if is_paginated %}
        {% include 'paginator/paginator.html' %}
        {% endif %}
    </div></dd>
{% endblock %}
