{% extends "events/event_wrapper.html" %}
{% load sitetree formtags %}

{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}s/start/jquery-ui-1.8.21.custom.css" />
{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.autogrow.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery-ui-1.8.21.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.formset.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/festivals.js"></script>
{% endblock %}

{% block title %}Заявка на создание фестиваля или конкурса{% endblock %}

{% block left_column %}
    <header class="b-page-head">
        <h1>{{ object }}</h1>
    </header>

    <div class="b-tabs d-sh">
        <div class="l-cols__i cleared" style="padding-top: 16px;">
            <section class="l-cols__section">
                <div class="l-cols__section__i">
                    <h3 class="title">
                        Условия подачи заявки
                    </h3>
                    <div class="b-hr"><hr /></div>
                    <div style="padding-bottom: 20px;">
                        {{ object.participant_conditions|striptags|linebreaksbr }}
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}