{% extends "events/event_edit_wrapper.html" %}
{% load sitetree formtags %}

{% block title %}Редактирование {{ object.get_type_display }} {{ object }}{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}s/start/jquery-ui-1.8.21.custom.css" />
{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.autogrow.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery-ui-1.8.21.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.ui.datepicker-ru.js"></script>
{% endblock %}

{% block edit_form %}
    <a class="form-profile-view" href="{% url event-detail event.id %}">Просмотр события</a>

    <section class="b-form b-form_smaller b-form_left settings-edit-form">
        <form name="editform" action="" method="post">
            {% csrf_token %}

                <h3 class="title">
                    {% sitetree_page_title from "event_edit_menu" %}
                </h3>

                <div class="b-hr"><hr /></div>

                {% with field_class="" %}
                    {% include "events/snippets/form.html" %}
                {% endwith %}

            <footer class="b-form__footer">
                <div class="wrap">
                    <a href="#" class="b-button b-button_yellow button-submit">Сохранить</a>
                </div>
            </footer>
        </form>
    </section>

    <script type="text/javascript">
        $(function() {
            $('form fieldset.field').formset({
                prefix: 'form',
                addText: '{{ add_item_text }}'
            })
        })
    </script>
{% endblock %}
