{% extends "events/event_wrapper.html" %}
{% load sitetree formtags %}

{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}s/start/jquery-ui-1.8.21.custom.css" />
{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.autogrow.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery-ui-1.8.21.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.formset.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/festivals.js"></script>
{% endblock %}

{% block title %}Заявка на создание фестиваля или конкурса{% endblock %}

{% block left_column %}
    <header class="b-page-head">
        <h1>Создать событие</h1>
    </header>

    <div class="b-tabs d-sh request-form">
        <div class="l-cols__i cleared" style="padding-top: 16px;">
            <section class="l-cols__section">
                <div class="l-cols__section__i">

                    <h3 class="title">
                        Заполните форму подачи заявки
                    </h3>
                    <section class="b-form b-form_smaller b-form_left">
                        <form name="editform" action="" method="post" enctype="multipart/form-data">

                            {% csrf_token %}
                            <div class="b-hr"><hr /></div>

                                <fieldset id="event-send-request-form" class="field">
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}

                                    {% for field in form.visible_fields %}
                                        {% if field.name != 'parent' %}
                                            <fieldset>
                                                <div class="b-form__field">
                                                    <label>
                                                        <span class="f-title">
                                                            {{ field.label }} {% if field.field.required %}<span class="sp-err">*</span>{% endif %}
                                                        </span>
                                                        <span class="f-input">
                                                            {{ field }}
                                                        </span>
                                                    </label>
                                                    {% if field.errors %}
                                                        <div class="sp-err"><span>{{ field.errors }}</span></div>
                                                    {% endif %}
                                                </div>
                                            </fieldset>
                                        {% endif %}

                                        {% if field.name == 'parent' %}
                                            <fieldset id="parent-fest-selector" class="hidden">
                                                <div class="b-form__field">
                                                    <label>
                                                        <span class="f-title">
                                                            {{ field.label }} {% if field.field.required %}<span class="sp-err">*</span>{% endif %}
                                                        </span>
                                                        <span class="f-input">
                                                            {{ field }}
                                                        </span>
                                                    </label>
                                                    {% if field.errors %}
                                                        <div class="sp-err"><span>{{ field.errors }}</span></div>
                                                    {% endif %}
                                                </div>
                                            </fieldset>
                                        {% endif %}
                                    {% endfor %}
                                </fieldset>

                            <div class="b-hr"><hr /></div>
                            <footer class="form-footer">
                                <div class="wrap">
                                    <a href="#" class="b-button b-button_yellow button-submit">Отправить заявку</a>
                                </div>
                            </footer>

                        </form>
                    </section>

                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block right_menu %}
<nav class="b-side-nav d-indent">
    &nbsp;
</nav>
{% endblock %}