{% extends "events/tabs_wrapper.html" %}
{% load ratingsutils %}

{% block title %}Фильмы-участники{% endblock %}

{% block head_js %}
    <script src="{{ STATIC_URL }}j/festivals.js" type="text/javascript"></script>
{% endblock %}

{% block tab %}
    {% include 'events/snippets/tabs_menu.html' with selected='films' %}

    <dd class="selected hdr-festival-detail"><div class="b-tabs__tab-content">
        <section class="b-profile">
            <header class="b-profile__head cleared">
                <a class="form-profile-view" href="{% url event-detail event.id %}">Просмотр события</a>

                {% if event.nomination_set.exists %}
                    <h3>Номинации:</h3>
                    <ul>
                        {% for item in event.nomination_set.all %}
                            {% if item != nomination %}
                                <li><a href="{% url event-films-by-id event.id item.id %}">{{ item.title }}</a></li>
                            {% else %}
                                <li>{{ item.title }}</li>
                            {% endif %}

                        {% endfor %}
                    </ul>

                    <div class="cleared">&nbsp;</div>

                    {% if object_list.exists %}
                        <h3 class="title">{{ nomination }}</h3>
                        <div class="b-hr"><hr /></div>
                        {% for object in object_list %}
                            {% with item=object.video %}
                                {% csrf_token %}
                                <div>
                                    <table>
                                        <tr>
                                            <td style="width: 190px;">
                                                <a href="{% url video-detail item.id %}" title="{{ item.title }}">
                                                    <span>
                                                        <img src="{% if item.preview.thumbnail %}{{ item.preview.thumbnail.url }}{% else %}{{ STATIC_URL }}i/nophoto.png{% endif %}" width="190" height="123" alt="" />
                                                    </span>
                                                </a>
                                            </td>

                                            <td>
                                                <a href="{% url video-detail item.id %}" title="{{ item.title }}"><h3>{{ item.title }}</h3></a>
                                                <div>
                                                    <span class="dark-gray">Участник </span>
                                                    <a href="{% url profile-detail item.owner_id %}">{{ item.owner.profile.title }}</a>
                                                </div>
                                                <div>{{ item.description|truncatechars:200 }}</div>
                                                <footer class="ai-foot">
                                                    <ul class="b-stat">
                                                        <li class="rating">
                                                            <i class="ico b-ico_star"><i></i></i>
                                                            <span id="video-{{ object.id }}-score">{{ object.get_average_score|floatformat:'-1' }}</span>
                                                        </li>
                                                        <li class="viewed">
                                                            <i class="b-ico b-ico_eye"><i></i></i>
                                                            <span>{{ item.views_count }}</span>
                                                        </li>
                                                    </ul>
                                                </footer>
                                                {% if request.user in event.jurors.all %}
                                                <div>
                                                    <span class="dark-gray">Ваша оценка: </span>
                                                    <span class="dark-gray" id="your-{{ object.id }}-score">{{ object.current_score.score|default:'Не выставлена' }}</span>
                                                </div>
                                                <div class="b-vote">
                                                    <div class="wrap">
                                                    <ul class="star-rate" data-total-rate="{{ object.current_score.score }}" data-item-id="{{ object.id }}">
                                                        {% for item in object.score_nums %}
                                                            <li>
                                                                <a href="#" data-rate="{{ item }}">&nbsp;</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>

                                    <div class="b-hr"><hr /></div>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    {% else %}
                        <h3>Фильмов в данной номинации пока не заявлено</h3>
                    {% endif %}
                {% else %}
                    <h3 class="title">Номинации еще не созданы</h3>
                    {% if request.user == event.owner %}
                        <p>
                            Так как вы являетесь организатором события, вы можете добавить номинации перейдя по ссылке ниже.
                        </p>
                        <div class="cleared">
                            <img src="{{ STATIC_URL }}i/ico-plus.gif">
                            <a class="form-event-service" href="{% url event-edit-nominations event.id %}">
                                Добавить номинации
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            </header>
        </section>
        {% if is_paginated %}
        {% include 'paginator/paginator.html' %}
        {% endif %}
    </div></dd>

    <script type="text/javascript">
        $(function() {
//            $('.star-rate').each(function() {
//                $rate = $(this);
//                $(this).find('a').hover(function(e) {
//                    var el = $(this);
//                    var star_num = parseInt(el.attr('data-rate'));
//
//                    $rate.find('a').each(function(i, e){
//                        var el = $(e);
//                        var el_num = el.attr('data-rate');
//                        if (el_num < star_num) {
//                            el.addClass('active');
//                        } else {
//                            el.removeClass('active');
//                        }
//                    });
//
//                }, function(e) {
//                    //var el = $(e.target || e.srcElement);
//                    var star_num = parseInt($('.star-rate').attr('data-total-rate'));
//                    $rate.find('a').each(function(i, e) {
//                        var el = $(e);
//                        var el_num = el.attr('data-rate');
//                        if (el_num <= star_num) {
//                            el.addClass('active');
//                        } else {
//                            el.removeClass('active');
//                        }
//                    });
//                });
//            });

//            $('.star-rate').find('a').hover(function(e) {
//                var el = $(e.target || e.srcElement);
//                var star_num = parseInt(el.attr('data-rate'));
//
//                $('.star-rate a').each(function(i, e){
//                    var el = $(e);
//                    var el_num = el.attr('data-rate');
//                    if (el_num < star_num) {
//                        el.addClass('active');
//                    } else {
//                        el.removeClass('active');
//                    }
//                });
//
//            }, function(e) {
//                //var el = $(e.target || e.srcElement);
//                var star_num = parseInt($('.star-rate').attr('data-total-rate'));
//                $('.star-rate a').each(function(i, e) {
//                    var el = $(e);
//                    var el_num = el.attr('data-rate');
//                    if (el_num <= star_num) {
//                        el.addClass('active');
//                    } else {
//                        el.removeClass('active');
//                    }
//                });
//            });

//            $('.star-rate a').hover(function(e) {
//                var el = $(e.target || e.srcElement);
//                var star_num = parseInt(el.attr('data-rate'));
//
//                $('.star-rate a').each(function(i, e){
//                    var el = $(e);
//                    var el_num = el.attr('data-rate');
//                    if (el_num < star_num) {
//                        el.addClass('active');
//                    } else {
//                        el.removeClass('active');
//                    }
//                });
//
//            }, function(e) {
//                //var el = $(e.target || e.srcElement);
//                var star_num = parseInt($('.star-rate').attr('data-total-rate'));
//                $('.star-rate a').each(function(i, e) {
//                    var el = $(e);
//                    var el_num = el.attr('data-rate');
//                    if (el_num <= star_num) {
//                        el.addClass('active');
//                    } else {
//                        el.removeClass('active');
//                    }
//                });
//            });

            function setNewRateStars(count) {
                var count = parseInt(count);
                $('.star-rate a').each(function(i, e) {
                    (function(el){
                        if (el.attr('data-rate') <= count) {
                            el.addClass('active');
                        } else {
                            el.removeClass('active');
                        }
                    }($(e)));
                });
            }

//            $('.star-rate a').on('click', function(e){
//                e.preventDefault();
//                var item_id = $('.star-rate').attr('data-item-id');
//                var rate = $(e.target || e.srcElement).attr('data-rate');
//                $.ajax({
//                    type: 'GET',
//                    url: '/video/rate/'+item_id+'/'+rate+'/',
//                    success: function() {
//                        setNewRateStars(rate);
//                    }
//                });
//            });
        });
    </script>
{% endblock %}
