{% extends "events/tabs_wrapper.html" %}
{% load sitetree %}

{% block title %}Подача заявки на {{ object.title }}{% endblock %}

{% block page_title %}
    <h1>{{ object.title }}</h1>
{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}s/dropdown.css" />
{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.formset.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/festivals.js"></script>
{% endblock %}

{% block tab %}
    {% include 'events/snippets/edit_tabs_menu.html' with selected='event' object=event %}
    <dd class="selected hdr-festival-send-request">
        <div class="l-cols">
{#            <div class="l-cols__bg-section">#}
{#                <div></div>#}
{#            </div>#}
            <div class="l-cols__i cleared">
                <section class="l-cols__section">
                    <div class="l-cols__section__i">

                        <section class="b-form b-form_smaller b-form_edit">
                            <form name="editform" action="" method="post">
                                {% csrf_token %}
                                <div class="">
                                    <h3 class="title">
                                        Подача заявки
                                    </h3>
                                    <p>
                                        Прикрепите ваши работы.
                                    </p>

                                    <div class="b-hr"><hr /></div>
                                    {{ formset }}

{#                                    <div class="dropdown" id="videoalbums-dropdown">#}
{#                                        <dl class="droplist" id="albums">#}
{#                                            <dt>#}
{#                                                <a href="#" class="dropdown-link">#}
{#                                                    <div class="content">#}
{#                                                        <div class="preview-container">#}
{#                                                            <img class="preview" src="{{ STATIC_URL }}i/nophoto.png"/>#}
{#                                                        </div>#}
{##}
{#                                                        <div class="ldr">&nbsp;</div>#}
{#                                                        <p class="text">#}
{#                                                            Выберите видеоальбом из списка#}
{#                                                        </p>#}
{#                                                    </div>#}
{#                                                    <div class="drop-button">#}
{#                                                        <div class="arrow">&nbsp;</div>#}
{#                                                    </div>#}
{#                                                </a>#}
{#                                            </dt>#}
{#                                            <dd>#}
{#                                                <ul class="items-list">#}
{##}
{#                                                </ul>#}
{#                                            </dd>#}
{#                                        </dl>#}
{##}
{#                                        <br />#}
{##}
{#                                        <dl class="droplist" id="videos" style="display: none;">#}
{#                                            <dt>#}
{#                                                <a href="#" class="dropdown-link">#}
{#                                                    <div class="content">#}
{#                                                        <div class="preview-container">#}
{#                                                            <img class="preview" src="{{ STATIC_URL }}i/nophoto.png"/>#}
{#                                                        </div>#}
{##}
{#                                                        <div class="ldr">&nbsp;</div>#}
{#                                                        <p class="text">#}
{#                                                            Выберите видеозапись из списка#}
{#                                                        </p>#}
{#                                                    </div>#}
{#                                                    <div class="drop-button">#}
{#                                                        <div class="arrow">&nbsp;</div>#}
{#                                                    </div>#}
{#                                                </a>#}
{#                                            </dt>#}
{#                                            <dd>#}
{#                                                <ul class="items-list">#}
{##}
{#                                                </ul>#}
{#                                            </dd>#}
{#                                        </dl>#}
{#                                    </div>#}

                                    <div class="b-hr"><hr /></div>

{#                                    {{ form }}#}

                                </div>

                                <div class="b-hr"><hr /></div>

                                <footer class="form-footer">
                                    <div class="wrap">
                                        <a href="#" class="b-button b-button_yellow button-submit">Сохранить</a>
                                    </div>
                                </footer>
                            </form>
                        </section>

                    </div>
                </section>
            </div>
        </div>
    </dd>

    <input type="hidden" id="ajax-helper" data-ajax-list-url="{% url video-list-ajax request.user.id %}">

{% endblock %}

{% block right_menu %}
    <nav class="b-side-nav d-indent" style="margin-top: 60px;">
        <ul>
            <h4>Управление</h4>
            <li>
{#                <a href="{% url profile-event-list request.user.id %}" title="Заполнить заявку">Ваши конкурсы и фестивали</a>#}
            </li>
            <li>
                <a href="{% url event-send-request %}" title="Заполнить заявку">Заполнить заявку</a>
            </li>
        </ul>
        <i class="d-indent__tl"></i>
        <i class="d-indent__tr"></i>
        <i class="d-indent__br"></i>
        <i class="d-indent__bl"></i>
    </nav>
{% endblock %}

{% block popup %}
    <li class="item template" style="display: none;">
        <a href="#" class="list-item-link">
            <div class="content">
                <div class="preview-container">
                    <img class="preview" src="{{ STATIC_URL }}i/nophoto.png"/>
                </div>

                <p class="text"></p>
            </div>
            <div class="b-hr"><hr /></div>
        </a>
    </li>
{% endblock %}
