{% extends "events/event_wrapper.html" %}
{% load sitetree %}

{% block title %}Редактирование заявки на {{ event }}{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}s/dropdown.css" />
{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}j/utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/festivals.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.formset.js"></script>
{% endblock %}

{% block left_column %}
    <header class="b-page-head">
    <h1>{{ event }}</h1>
</header>

<div class="b-tabs d-sh participant-form">
    <div class="l-cols__i cleared" style="padding-top: 16px;">
        <section class="l-cols__section">
            <div class="l-cols__section__i">

                {% if event.is_accepting_requests %}
                    <a class="form-event-view" href="{% url event-detail event.id %}">Вернуться к событию</a>
                    <h3 class="title">
                        Редактирование заявки на &laquo;{{ event }}&raquo;
                    </h3>
                    {% include "events/snippets/participant_formset_snippet.html" %}

                {% else %}

                    <h3 class="title">
                        Прием заявок окончен.
                    </h3>

                {% endif %}

            </div>
        </section>
    </div>
    <script type="text/javascript">
        $(function() {
            $('form fieldset.field').formset({
                prefix: 'participantvideo_set',
                addText: '{{ add_item_text }}'
            })
        })
    </script>
</div>
{% endblock %}

{#{% block right_menu %}#}
{#    <nav class="b-side-nav d-indent" style="margin-top: 60px;">#}
{#        <ul>#}
{#            <h4>Управление</h4>#}
{#            <li>#}
{#                <a href="{% url event-send-request %}" title="Заполнить заявку">Заполнить заявку</a>#}
{#            </li>#}
{#        </ul>#}
{#        <i class="d-indent__tl"></i>#}
{#        <i class="d-indent__tr"></i>#}
{#        <i class="d-indent__br"></i>#}
{#        <i class="d-indent__bl"></i>#}
{#    </nav>#}
{#{% endblock %}#}
