{% if is_paginated %}
<nav class="b-pages">
    <div class="b-pages__title">
        {% if page_obj.has_previous %}
        <span class="larr">
            <a href="?page={{ page_obj.previous_page_number }}">&larr;</a>
        </span>
        {% endif %}
        <strong>Страницы</strong>
        {% if page_obj.has_next %}
        <span class="rarr"><a href="?page={{ page_obj.next_page_number }}">&rarr;</a></span>
        {% endif %}
    </div>

    <a href="?page=1">...</a>

    {% for linkpage in paginator.page_range %}
        {% ifequal linkpage page_obj.number %}
            <strong class="selected d-indent2">
                {{ page_obj.number }}
                <i class="d-indent2__tl"></i>
                <i class="d-indent2__tr"></i>
                <i class="d-indent2__br"></i>
                <i class="d-indent2__bl"></i>
            </strong>
        {% else %}
            <a href="?page={{ linkpage }}">{{ linkpage }}</a>
        {% endifequal %}
    {% endfor %}

        <a href="?page=last">... {{ pages }}</a>
</nav>
{% endif %}