{% extends "events/event_wrapper.html" %}
{% load sitetree %}

{% block title %}Подача заявки на {{ event }}{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}s/dropdown.css" />
{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}j/utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/festivals.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.js"></script>
{% endblock %}

{% block left_column %}
    <header class="b-page-head">
    <h1>{{ event }}</h1>
</header>

<div class="b-tabs d-sh participant-form">
    <div class="l-cols__i cleared" style="padding-top: 16px;">
        <section class="l-cols__section">
            <div class="l-cols__section__i">
                {% if event.is_accepting_requests %}
                    <a class="form-event-view" href="{% url 'event-detail' event.id %}">Вернуться к событию</a>
                    <h3 class="title">
                        Подача заявки на &laquo;{{ event }}&raquo;
                    </h3>
                    {% if not request.user.title %}
                        {% if request.user.type == 1 %}
                            <p>
                                Вы не можете отправить заявку, т.к. не указали своего имени и фамилии.
                                Пожалуйста перейдите на страницу "<a href="{% url 'profile-edit' %}">Общая информация</a>" вашего профиля,
                                что бы заполнить поля имени и фамилии.
                            </p>
                        {% else %}
                            <p>Вы не можете отправить заявку, т.к. отсутствует название.
                                Пожалуйста перейдите на страницу "<a href="{% url 'profile-edit' %}">Общая информация</a>" вашего профиля,
                                что бы заполнить поле "Название" Вашей
                                {% if request.user.type == 3 %}студии{% else %}школы{% endif %}.
                            </p>
                        {% endif %}
                    {% elif no_filled_fields|length %}
                        <p>
Вы не можете отправить заявку, т.к. ваша контактрая инфорамация не заполнена (поля {{ no_filled_fields|join:", " }}).
Пожалуйста перейдите на страницу "<a href="{% url 'profile-edit-contacts' %}">Контакты</a>"
                            вашего профиля, что бы заполнить контакты.
                        </p>
                    {% else %}
                        <p>В заявке на участие в конкурсе принимаются только те работы, у которых указаны:
                            <ol>
                                <li>Название фильма</li>
                                <li>Авторы</li>
                                <li>Педагоги</li>
                                <li>Руководитель</li>
                                <li>Страна</li>
                                <li>Город</li>
                                <li>Год</li>
                            </ol>
                        </p>
                        {% include "events/snippets/participant_form_snippet.html" %}
                    {% endif %}
                {% else %}
                    <h3 class="title">
                        Прием заявок окончен.
                    </h3>
                {% endif %}

            </div>
        </section>
    </div>
    <script type="text/javascript">
        $(function() {
            $('form fieldset.field').formset({
                prefix: 'participantvideo_set',
                addText: '{{ add_item_text }}'
            })
        })
    </script>
</div>
{% endblock %}

{% block popup %}
    <li class="item template" style="display: none;">
        <a href="#" class="list-item-link">
            <div class="content">
                <div class="preview-container">
                    <img class="preview" src="{{ STATIC_URL }}i/nophoto.png"/>
                </div>

                <p class="text"></p>
            </div>
            <div class="b-hr"><hr /></div>
        </a>
    </li>
{% endblock %}
