{% extends "base.html" %}

{% block content %}
    <div class="l-cols l-cols_article"><div class="l-cols__i cleared">
        <section class="l-cols__section"><div class="l-cols__section__i">
            {% block left_column %}
                <p>Левая колонка</p>
            {% endblock %}
        </div></section>
        <aside class="l-cols__side"><div class="l-cols__side__i">
            {% block right_menu %}
                <nav class="b-side-nav d-indent">
                    <ul>
                        <h4>{% if current_category %}<a href="{% url news-list %}">Все новости</a>{% else %}Все новости{% endif %}</h4>
                        {% for category in news_categories %}
                            {% ifequal category current_category %}
                                <li>{{ category.title }}</li>
                            {% else %}
                                <li><a href="{% url news-list-category category.slug %}"
                                       title="{{ category.title }}">{{ category.title }}</a></li>
                            {% endifequal %}
                        {% endfor %}
                    </ul>
                    <i class="d-indent__tl"></i>
                    <i class="d-indent__tr"></i>
                    <i class="d-indent__br"></i>
                    <i class="d-indent__bl"></i>
                </nav>
            {% endblock %}
            {% block right_column %}
                <section class="b-adv b-adv2">
                    <header>
                        <div class="b-adv__title">Реклама</div>
                    </header>
                    <p>
                        <a href="#">
                            <img src="{{ STATIC_URL }}i/fake/ban3.jpg" width="200" height="340" alt="" />
                        </a>
                    </p>
                </section>
                <p class="b-side-text">
                    Несомненный интерес представляет и тот факт, что тактогенез продольно занимает межпластовый
                    овилин, в то же время поднимаясь в пределах горстов до абсолютных высот 250 м.
                </p>
            {% endblock %}
        </div></aside>
    </div></div><!--l-cols-->
{% endblock %}
