{% extends "news/news_wrapper.html" %}
{% load sitetree %}

{% block title %}{% sitetree_page_title from "main_menu" %}{% endblock %}

{% block left_column %}
    <article class="b-article">
        {% autoescape off %} 
            <header class="b-article__head">
                <h1>{{ newsitem.title }}</h1>
                <time class="date">{{ newsitem.creation_date|date:'d E Y' }}</time>
            </header>
            <div class="h-ugc">
                <figure class="b-quote">
                    <blockquote>
                        {{ newsitem.preview_text|safe }}
                        {{ newsitem.text|safe }}
                    </blockquote>
                </figure>
                <a href="{% url news-list %}" class="return-to-previous-page">&larr; Вернуться к списку новостей</a>
            </div>
        {% endautoescape %}
    </article>
    <section class="b-announs b-announs_news">
        {% for item in object_list %}
            <article class="announ-item">
                <header class="ai-head">
                    <time class="date">{{ item.creation_date|date:'d E Y' }}</time>
                    <h3><a href="{% url SingleNewsItemView item.category.slug item.slug %}">{{ item.title }}</a></h3>
                    {{ item.preview_text|safe }}
                </header>
            </article>
        {% endfor %}
    </section>
{% endblock %}
