{% extends "advices/advices_wrapper.html" %}
{% load sitetree %}
{% load mptt_tags %}

{% block title %}{% sitetree_page_title from "main_menu" %}{% endblock %}

{% block left_column %}
    <header class="b-page-head">
        <h1>Советы профессионалов</h1>
    </header>
    <section class="b-announs b-announs_news">
        {% for node in object_list %}
            {% if node.level == 0 %}
                <article class="announ-item">
                    <header class="ai-head">
                        <h3><a href="{{ node.get_absolute_url }}">{{ node.name }}</a></h3>
                        {{ node.description|safe }}
                    </header>
                </article>
            {% endif %}
        {% endfor %}
        {% include 'paginator/paginator.html' %}
    </section>
{% endblock %}
