{% extends "inside.html" %}
{% load mptt_tags %}

{% block title %}{{ advice.name }}{% endblock %}

{% block breadcrumbs %}
    <nav>
        <a href="{% url AdvicesIndexView %}" title="Советы профессионалов">Советы профессионалов</a>
        <span class="b-crumbs__sep">/</span>
        {% for node in advice.get_ancestors %}
                <a href="{{ node.get_absolute_url }}" title="{{ node.name }}">{{ node.name }}</a>
                <span class="b-crumbs__sep">/</span>
        {% endfor %}
        <span>{{ advice.name }}</span>
    </nav>
{% endblock %}

{% block page_title %}
<h1>{{ advice.name }}</h1>
{% endblock %}

{% block left_col %}
    <section class="b-announs b-announs_news">
    {% for node in advice.get_children %}
        {% if not node.get_children %}
            <article class="announ-item">
                <header class="ai-head">
                    <h3>{{ node.name }}</h3>
                    {{ node.description|safe }}
                </header>
            </article>
        {% else %}
            <article class="announ-item">
                <header class="ai-head">
                    <h3><a href="{{ node.get_absolute_url }}">{{ node.name }}</a></h3>
                    {{ node.description|safe }}
                </header>
            </article>
        {% endif %}
    {% endfor %}
    </section>
{% endblock %}

