<section class="b-popup" id="popup-upload" style="left:50%; top:100px;">
    <section class="b-form b-form_smaller b-form_popup">
        <h3>Идёт загрузка</h3>
        <p class="message-container">Пожалуйста, не закрывайте и не перезагружайте страницу до окончания загрузки.</p>
        <progress class="progress-bar" max="100" value="0"></progress>
        <div class="progress-value">0%</div>
    </section><!--b-form-->
    <div class="b-popup__tl"></div>
    <div class="b-popup__tr"></div>
    <div class="b-popup__br"></div>
    <div class="b-popup__bl"></div>
</section>
