<section class="b-popup" id="popup-upload" style="left:50%; top:100px;">
    <section class="b-form b-form_smaller b-form_popup">
        <h3>Идёт загрузка</h3>
        <p>
            Пожалуйста, не закрывайте и не перезагружайте страницу до окончания загрузки.
            <p style="text-align: center; margin-top: 20px;">
                <img src="{{ STATIC_URL }}i/ajax-loader.gif" alt="Идёт загрузка">
            </p>
        </p>
    </section><!--b-form-->
    <div></div>
    <div class="b-popup__tl"></div>
    <div class="b-popup__tr"></div>
    <div class="b-popup__br"></div>
    <div class="b-popup__bl"></div>
</section>