{#        Модальный диалог удаления     #}
<section class="b-popup" id="popup-confirm">
    <section class="b-form b-form_left b-form_smaller b-form_popup b-form_popup_confirm">
        <header class="b-form__header">
            <h4>
                Подтвердите действие
            </h4>
            <p id="dialog-message">
                &nbsp;
            </p>
        </header>
        <div class="b-hr">
            <hr />
        </div>
        <footer class="b-form__footer cleared">
            <a href="#" class="b-button b-button_yellow left cancel confirm-modal-cancel">Отменить</a>
            <a href="#" class="b-button b-button_red right videos_delete confirm-modal-confirm">Удалить</a>
        </footer>
    </section>
    <div class="b-popup__close close-btn" title="Закрыть"><i class="b-ico b-ico_x"><i></i></i></div>
    <div class="b-popup__tl"></div>
    <div class="b-popup__tr"></div>
    <div class="b-popup__br"></div>
    <div class="b-popup__bl"></div>
</section>

{#        Модальный диалог перемещения     #}
<section class="b-popup" id="popup-move">
    <section class="b-form b-form_smaller b-form_popup" style="padding-bottom: 14px;">
        <form action="{% url photo-move %}" method="post">
            {% csrf_token %}
            <header class="b-form__header" style="padding-right: 10px;">
                <h3>
                    Переместить в альбом
                </h3>
            </header>
            <div class="b-form__fields">
                <div class="b-form__field" id="albums-list">
                    {% if request.user.videoalbum_set.exists %}
                        {% for item in request.user.videoalbum_set.all %}
                            <div class="b-form__field b-form__field_radio">
                                <div class="f-radio" style="margin-left: 0;">
                                    <div>
                                        <input {% if item == object %}disabled="disabled"{% endif %} type="radio" name="album" value="{{ item.id }}" id="album{{ item.id }}" data-album-to-move="{{ item.id }}" />
                                        <label for="album{{ item.id }}" {% if item == object %}style="color: #666;"{% endif %}>
                                            {{ item.title }}
                                            {% if item == object %}(Текущий альбом){% endif %}
                                        </label>
                                    </div>
                                    <div class="f-err"><span></span></div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>У вас нет ни одного альбома.</p>
                    {% endif %}
                </div>
            </div>
            <div class="b-hr">
                <hr />
            </div>
            <footer class="b-form__footer cleared">
                {#                        <a href="#" class="b-button b-button_red left cancel confirm-modal-cancel">Отменить</a>#}
                <a href="#" class="b-button b-button_yellow disabled right confirm-modal-confirm">Переместить</a>
            </footer>
        </form>
    </section><!--b-form-->
    <div class="b-popup__close close-btn" title="Закрыть"><i class="b-ico b-ico_x"><i></i></i></div>
    <div class="b-popup__tl"></div>
    <div class="b-popup__tr"></div>
    <div class="b-popup__br"></div>
    <div class="b-popup__bl"></div>
</section><!--b-popup-->
