{% extends "video/tabs_wrapper.html" %}
{% load sitetree %}
{% load rupluralize %}

{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}s/alerts.css" />
{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}j/site.js"></script>
{% endblock %}

{% block profile_video_tab %}
    <dt class="first selected">
        <span>Видео</span>
        <i class="l"></i>
        <i class="r"></i>
    </dt>
    <dd class="selected"><div class="b-tabs__tab-content">
        <section class="b-profile">
            <header class="b-profile__head b-profile__head_small cleared">
                <div class="b-profile__pic">
                    <div class="b-ava b-ava_small">
                        {% if object.owner.profile.min_avatar %}
                            <img src="{{ object.owner.profile.min_avatar.url }}" width="60" height="60" alt="" />
                        {% else %}
                            <img src="{{ STATIC_URL }}i/noava.jpg" width="60" height="60" alt="" />
                        {% endif %}
                        <i class="b-ava__sh"></i>
                    </div>
                </div>
                <div class="b-profile__txt">
                    {% if user.id == object.owner_id %}
                        <ul class="b-service-buttons">
                            <li class="edit"><i></i><a href="{% url profile-edit %}">Редактировать профиль</a></li>
                        </ul>
                    {% endif %}
                    <a href="{% url profile-detail object.owner_id %}">
                        <h4>{{ object.owner.profile.title }}</h4>
                    </a>
                    <p>{{ object.owner.profile.place }}</p>
                </div>
            </header>
        </section>
        <div class="b-hr"><hr /></div>
        <header class="b-head cleared">
            <ul class="b-service-buttons">
                <li class="addphoto"><i></i><a href="">Добавить фото</a></li>
                <li class="edit"><i></i><a href="">Редактировать альбом</a></li>
            </ul>
            <a href="" class="b-button-prev"><span>Все альбомы</span></a>
            <h3>
                Редактирование видео &laquo;{{ form.instance.title }}&raquo;
            </h3>
        </header>
        <section class="b-form b-form_smaller b-form_edit">
            <form name="videoform" action="{% url video-edit form.instance.id %}" method="post">
                {% csrf_token %}
                <div class="b-form__fields">
                    {% for item in form %}
                        <fieldset>
                            <div class="b-form__field">
                                <label>
                                            <span class="f-title">
                                                <span>{{ item.label }}</span>
                                            </span>
                                            <span class="f-input">
                                                {{ item }}
                                            </span>
                                </label>
                                {% if item.errors %}
                                    <div class="f-err"><span>{{ item.errors }}</span></div>
                                {% endif %}
                            </div>
                        </fieldset>
                    {% endfor %}
                </div>
                <footer class="b-form__footer">
                    <div class="wrap">
                        <a class="b-button b-button_yellow button-submit">Сохранить</a>
                    </div>
                </footer>
            </form>
        </section>
    </div></dd>
{% endblock %}
