{% extends "inside.html" %}
{% load sitetree %}

{% block title %}{% endblock %}

{% block left_col %}
    <div class="wrap"><a href="#" class="b-button b-button_yellow d-rounded d-rounded_r10">Назад</a></div>
    <h3>Редактирование видеосюжета</h3>


    <form action="#" method="POST">
        <p>Название <input type="text" /></p>
        <p>Ссылка на видео: <a href="#">http://bumerang/aasfsf24</a></p>
        <p>Владелец <a href="#">Ракурс</a> <a href="#">(Студия)</a></p>
        <p>Списки СВ <a href="#">89</a> <a href="#">(28.10.2012)</a> <a href="#">Удалить</a></p>

        <p>
            Альбом
            <p>
                <select name="album">
                  <option value="1">OpenSource</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
            </p>
        </p>
        <p>
            Категория
            <p>
                <select name="category">
                  <option value="1">Нет</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
            </p>
        </p>
        <p>
            Описание
            <p>
                <textarea name="description"></textarea>
            </p>
        </p>

        <p>Год <input type="text" /></p>
        <p>Жанр <input type="text" /></p>
        <p>Страна <input type="text" /></p>
        <p>Город <input type="text" /></p>

        <p>
            Авторы
            <p>
                <textarea name="description"></textarea>
            </p>
        </p>

        <p>
            Педагоги
            <p>
                <textarea name="description"></textarea>
            </p>
        </p>
        <p>Руководитель <input type="text" /></p>


        <p>
            Участие в фестивалях
            <p>
                <textarea name="description"></textarea>
            </p>
        </p>

        <p>
            Кому доступно видео
            <p><input type="radio" name="access" value="a1"> всем <i>(рекомендуется)</i></p>
            <p><input type="radio" name="access" value="a2"> у кого есть ссылка на видео</p>
            <p><input type="radio" name="access" value="a3"> у кого есть ссылка на видео и пароль</p>
            <p><input type="radio" name="access" value="a4"> для друзей</p>
            <p><input type="radio" name="access" value="a5"> только для меня</p>
        </p>

        <input type="submit" value="Сохранить">
    </form>
    

{% endblock %}