{% extends "video/video_wrapper.html" %}
{% load sitetree %}
{% load rupluralize %}

{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}s/alerts.css" />
{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}j/site.js"></script>
{% endblock %}

{% block left_column %}
    <div class="b-tabs d-sh">
        <dl>
            <dt class="first">
                <span>Профиль</span>
                <i class="l"></i>
                <i class="r"></i>
            </dt>

            <dd class="selected"><div class="b-tabs__tab-content">
                <section class="b-profile">
                    <header class="b-profile__head b-profile__head_small cleared">
                        <div class="b-profile__pic">
                            <div class="b-ava b-ava_small">
                                {% if user.profile.min_avatar %}
                                    <img src="{{ user.profile.min_avatar.url }}" width="60" height="60" alt="" />
                                {% else %}
                                    <img src="{{ STATIC_URL }}i/noava.jpg" width="60" height="60" alt="" />
                                {% endif %}
                                <i class="b-ava__sh"></i>
                            </div>
                        </div>
                        <div class="b-profile__txt">
                            {% include "accounts/service_buttons.html" %}
                            <h4>
                                {% if user.profile.title %}
                                    {% if user.profile.title %}
                                        {% if user.profile.type != 1 %}
                                            {{ user.profile.get_type_display }} &laquo;{{ user.profile.title }}&raquo;
                                        {% else %}
                                            {{ user.profile.title }}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    Заполните имя профиля
                                {% endif %}
                            </h4>
                            <p>{{ user.profile.place }}</p>
                        </div>
                    </header>
                </section>
                <div class="b-hr"><hr /></div>
                <header class="b-head cleared">
                    <a href="" class="b-button-prev"><span>Назад</span></a>
                    <h3>
                        {% if form.instance.id %}
                        Редактирование альбома &laquo;{{ form.instance.title }}&raquo;
                        {% else %}
                        Создание альбома
                        {% endif %}
                    </h3>
                </header>
                <section class="b-form b-form_album b-form_smaller">
                    <form name="editform" action="" method="post">
                        {% csrf_token %}
                        <div class="b-form__fields">
                            {% for item in form %}
                                <fieldset>
                                    <div class="b-form__field">
                                        <label>
                                <span class="f-title">
                                    <span>{{ item.label }}</span>
                                </span>
                                <span class="f-input">
                                    {{ item }}
                                </span>
                                        </label>
                                        {% if item.errors %}
                                            <div class="f-err"><span>{{ item.errors }}</span></div>
                                        {% endif %}
                                    </div>
                                </fieldset>
                            {% endfor %}
                        </div>
                        <footer class="b-form__footer">
                            <div class="wrap">
                                {% if form.instance.id %}
                                    <a href="" class="b-button b-button_yellow button-submit">Сохранить</a>
                                {% else %}
                                    <a href="" class="b-button b-button_yellow button-submit">Создать</a>
                                {% endif %}
                            </div>
                        </footer>
                    </form>
                </section><!--b-form-->
            </div></dd>

            <dt class="selected">
                <span>Видео</span>
                <small>{{ user.video_set.all.count }}</small>
                <i class="l"></i>
                <i class="r"></i>
            </dt>
            <dd><div class="b-tabs__tab-content">
            </div></dd>
            <dt>
                <span>Фото</span>
                <small>0</small>
                <i class="l"></i>
                <i class="r"></i>
            </dt>
            <dd><div class="b-tabs__tab-content">
            </div></dd>
        </dl>
    </div>
{% endblock %}