{% extends "video/tabs_wrapper.html" %}
{% load sitetree rupluralize videotags %}

{% block title %}{{ object.title }}{% endblock %}

{% block left_column %}
    <div class="b-tabs d-sh">
    <dl>
        <dd><div class="b-tabs__tab-content">
        </div></dd>
        <dt class="first selected">
            <span>Видеоальбом</span>
            <i class="l"></i>
            <i class="r"></i>
        </dt>
        <dd class="selected"><div class="b-tabs__tab-content">
            <section class="b-profile">
                <header class="b-profile__head b-profile__head_small cleared">
                    <div class="b-profile__pic">
                        <div class="b-ava b-ava_small">
                            {% if object.owner.profile.min_avatar %}
                                <img src="{{ object.owner.profile.min_avatar.url }}" width="60" height="60" alt="" />
                            {% else %}
                                <img src="{{ STATIC_URL }}i/noava.jpg" width="60" height="60" alt="" />
                            {% endif %}
                            <i class="b-ava__sh"></i>
                        </div>
                    </div>
                    <div class="b-profile__txt">
                        {% if user.id == object.owner_id %}
                        <ul class="b-service-buttons">
                            <li class="edit"><i></i><a href="{% url profile-edit %}">Редактировать профиль</a></li>
                        </ul>
                        {% endif %}
                        <a href="{% url profile-detail object.owner_id %}">
                            <h4>{{ object.owner.profile.title }}</h4>
                        </a>
                        <p>{{ object.owner.profile.place }}</p>
                    </div>
                </header>
            </section>
            <div class="b-hr"><hr /></div>
            <header class="b-head cleared">
                {% if user.id == object.owner_id %}
                <ul class="b-service-buttons">
                    <li class="addphoto"><i></i><a href="{% url video-add object.id %}">Добавить видео</a></li>
                    <li class="edit"><i></i><a href="{% url video-album-edit object.id %}">Редактировать альбом</a></li>
                </ul>
                {% endif %}
                <a href="{% url profile-video-detail object.owner_id %}" class="b-button-prev"><span>Все альбомы</span></a>
                <h3>
                    {{ object.title }}
                </h3>
                <div class="b-head__descr d-rounded d-rounded_r5">
                    {{ object.description }}
                </div>
            </header>

            <section class="b-announs b-announs_movie b-announs_movie_cols b-announs_movie_ui">
                <header class="announs-head cleared">
                    {% if object.owner_id == user.id %}
                        <a class="b-button b-button_yellow b-button_small l-button-move popup-handle" rel="popup-move-video">Переместить в альбом...</a>
                        <a class="b-button b-button_red b-button_small l-button-del popup-handle" rel="popup-del-video">Удалить</a>
                    {% endif %}
                    <p class="smaller" id="videos_count">Всего {{ object.video_set.count }} видео</p>
                </header>
                <div class="announs-items">
                    <form name="videosdelete" action="{% url videos-delete %}" method="post">
                    {% csrf_token %}
                    {% for video in object.video_set.all %}
                        <article class="announ-item" id="video_item{{ video.id }}">
                            <div class="ai-img d-sh">
                                <a href="">
                                        <span>
                                            <img src="{{ STATIC_URL }}i/fake/mov1b.jpg" width="190" height="123" alt="" />
                                            <span class="time">{{ video.duration|to_hms }}</span>
                                        </span>
                                    <i class="b-ico b-ico_play"><i></i></i>
                                </a>
                            </div>
                            <header class="ai-head">
                                <h3><a href="{% url video-detail video.id %}">{{ video.title }}</a></h3>
                            </header>
                            <footer class="ai-foot">
                                <time class="date">{{ video.created }}</time>
                                <ul class="b-stat">
                                    <li class="like"><i class="b-ico b-ico_heart"><i></i></i><span>1 564</span></li>
                                    <li class="viewed"><i class="b-ico b-ico_eye"><i></i></i><span>25 878</span></li>
                                </ul>
                            </footer>
                            {% if video.owner_id == user.id %}
                            <div class="ui-checkbox">
                                <input type="checkbox" name="videos" value="{{ video.id }}" id="checkbox{{ video.id }}" />
                                <label for="checkbox{{ video.id }}"></label>
                            </div>
                            <div class="ui-menu">
                                <span class="b-dropdown">
                                    <label class="b-menu-button b-dropdown__handle" ></label>
                                    <span class="b-dropdown__popup">
                                        <span class="b-dropdown__popup__i">
                                            <span class="b-dropdown__popup__i__i">
                                                <span class="b-dropdown__arr"></span>
                                                <a class="b-dropdown__link one_video_delete" videoid="{{ video.id }}">Удалить</a>
                                                <a href="{% url video-edit video.id %}" class="b-dropdown__link" id="video{{ video.id }}">Редактировать</a>
                                                <a href="#" class="b-dropdown__link popup-handle last" rel="popup-move-video" id="move_video{{ video.id }}">Переместить...</a>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            {% endif %}
                        </article>
                    {% endfor %}
                    </form>
                </div>
            </section>
        </div></dd>
    </dl>
    </div>
{% endblock %}

{% block popup %}
    <section class="b-popup" id="popup-del-video" style="left:50%; top:100px;">
        <section class="b-form b-form_left b-form_smaller b-form_popup b-form_popup_confirm">
            <header class="b-form__header">
                <h4>
                    Вы дйствительно хотите удалить видеозапись?
                </h4>
                <p>
                    Видео будет удалено безвозвратно.
                </p>
            </header>
            <footer class="b-form__footer cleared">
                <a class="b-button b-button_yellow left cancel">Отменить</a>
                <a class="b-button b-button_red right videos_delete">Удалить</a>
            </footer>
        </section><!--b-form-->
        <div class="b-popup__tl"></div>
        <div class="b-popup__tr"></div>
        <div class="b-popup__br"></div>
        <div class="b-popup__bl"></div>
    </section><!--b-popup-->

    <section class="b-popup" id="popup-move-video" style="left:50%; top:100px;">
        <section class="b-form b-form_smaller b-form_popup">
            <form action="{% url video-move %}" method="post">
                {% csrf_token %}
                <header class="b-form__header">
                    <h3>
                        Переместить в альбом
                    </h3>
                </header>
                <div class="b-form__fields">
                    <div class="b-form__field">
                        {% for item in object.owner.videoalbum_set.all %}
                            <div class="b-form__field b-form__field_radio">
                                <div class="f-radio">
                                    <div>
                                        <input {% if item == object %}disabled="disabled"{% endif %} type="radio" name="album" value="{{ item.id }}" id="album{{ item.id }}" />
                                        <label for="album{{ item.id }}" {% if item == object %}style="color: #666;"{% endif %}>
                                            {{ item.title }}
                                            {% if item == object %}(Текущий альбом){% endif %}
                                        </label>
                                    </div>
                                    <div class="f-err"><span></span></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <footer class="b-form__footer">
                    <div class="wrap">
                        <a href="#" class="b-button b-button_yellow videos_move">Переместить</a>
                    </div>
                    <div class="clear"></div>
                </footer>
            </form>
        </section><!--b-form-->
        <div class="b-popup__close" title="Закрыть"><i class="b-ico b-ico_x"><i></i></i></div>
        <div class="b-popup__tl"></div>
        <div class="b-popup__tr"></div>
        <div class="b-popup__br"></div>
        <div class="b-popup__bl"></div>
    </section><!--b-popup-->
{##}
{#    <section class="b-popup" id="popup-edit-video" style="left:50%; top:100px;">#}
{#        <section class="b-form b-form_smaller b-form_popup">#}
{#            <header class="b-form__header">#}
{#                <h3>#}
{#                    Редактирование видео#}
{#                </h3>#}
{#            </header>#}
{#            <div class="b-form__fields">#}
{#                <div class="b-form__field">#}
{#                    <label>#}
{#                        <span class="f-title"><span>Название</span></span>#}
{#					<span class="f-input">#}
{#						<input type="text" value="" class="wide" />#}
{#					</span>#}
{#                    </label>#}
{#                </div>#}
{#                <div class="b-form__field">#}
{#                    <label>#}
{#                        <span class="f-title"><span>Описание</span></span>#}
{#					<span class="f-textarea">#}
{#						<textarea rows="5" cols="45" class="wide wide_descr3"></textarea>#}
{#					</span>#}
{#                    </label>#}
{#                </div>#}
{#            </div>#}
{#            <footer class="b-form__footer">#}
{#                <div class="wrap">#}
{#                    <div class="hint"><small>Осталось заполнить: название</small></div>#}
{#                    <a href="" class="b-button b-button_yellow disabled">Создать</a>#}
{#                </div>#}
{#                <span class="or">или <a href="" class="b-pseudolink">отменить</a> и вернуться к альбомам.</span>#}
{#                <div class="clear"></div>#}
{#            </footer>#}
{#        </section><!--b-form-->#}
{#        <div class="b-popup__close" title="Закрыть"><i class="b-ico b-ico_x"><i></i></i></div>#}
{#        <div class="b-popup__tl"></div>#}
{#        <div class="b-popup__tr"></div>#}
{#        <div class="b-popup__br"></div>#}
{#        <div class="b-popup__bl"></div>#}
{#    </section><!--b-popup-->#}
{% endblock %}