{% extends "inside.html" %}
{% load sitetree %}

{% block title %}{{ newsitem.title }}{% endblock %}

{% block left_col %}
    <article class="b-article">
        <header class="b-article__head">
            <h1>{{ newsitem.title }}</h1>
            <time class="date">{{ newsitem.creation_date|date:'d E Y' }}</time>
        </header>
        <p class="b-intro">
            {{ newsitem.preview_text|safe }}
        </p>
        <div class="h-ugc">
            <p>
            Команда школьной студии вернулась домой. Наши впечатления и пожелания.
            </p>
            <figure class="b-quote">
                <blockquote>
                    {{ newsitem.text|safe }}
                </blockquote>
            </figure>
        </div>
    </article><!--b-article-->
{% endblock %}
