{% extends "inside.html" %}
{% load sitetree %}

{% block title %}{{ newsitem.title }}{% endblock %}

{% block left_col %}
    <article class="b-article">
        <header class="b-article__head">
            <h1>{{ newsitem.title }}</h1>
            <time class="date">{{ newsitem.creation_date|date:'d E Y' }}</time>
        </header>
        <p class="b-intro">
            {{ newsitem.preview_text|safe }}
        </p>
        <div class="h-ugc">
            <p>
            Команда школьной студии вернулась домой. Наши впечатления и пожелания.
            </p>
            <figure class="b-quote">
                <blockquote>
                    {{ newsitem.text|safe }}
                </blockquote>
            </figure>
            <a href="{% url NewsIndexView %}">Вернуться к списку новостей</a>
        </div>
    </article><!--b-article-->
{% endblock %}

{% block right_col %}
    <nav class="b-side-nav d-indent">
        <ul>
            <li><a href="{% url NewsIndexView %}">Все новости</a></li>
            {% for category in categories %}
                {% if category.id == newsitem.category.id %}
                <li class="selected"><strong>{{ category.title }}</strong></li>
                {% else %}
                <li><a href="{% url CategoryView category.slug %}" title="{{ category.title }}">{{ category.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <i class="d-indent__tl"></i>
        <i class="d-indent__tr"></i>
        <i class="d-indent__br"></i>
        <i class="d-indent__bl"></i>
    </nav>
{% endblock %}
