{% extends "video/video_wrapper.html" %}
{% load sitetree rupluralize %}

{% block title %}{{ object.title }}{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}j/swfobject.js"></script>
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?48"></script>
    <script type="text/javascript">
      VK.init({apiId: 2868516, onlyWidgets: true});
    </script>
    <script src="{{ STATIC_URL }}j/festivals.js" type="text/javascript"></script>
{% endblock %}

{% block left_column %}
    <header class="b-page-head">
        <nav class="b-crumbs">
            <a href="{% url users-list %}" class="return-to-previous-page">Вернуться на предыдущую страницу</a>
            <span class="b-crumbs__sep">/</span>
            <a href="{% url profile-detail object.owner.id %}">{{ object.owner.profile.title }}</a>
        </nav>
        <h1>{{ object.title }}</h1>
    </header>
    <div class="b-main-box d-rounded d-rounded_r10 d-sh cleared">
        <section class="b-movie js-toggle2-container">
            <div class="flash-content-wrapper">
                <div id="videoplayer"></div>
                <script type="text/javascript">
                    var flashvars = {
                        "comment":"{{ object.title }}",
                        "st":"{{ STATIC_URL }}uppod/video113-881.txt",
                        "file":"{{ object.rtmp_url }}"
                    };
                    var params = {
                        bgcolor:"#ffffff",
                        wmode: "opaque",
                        allowFullScreen:"true",
                        allowScriptAccess:"always",
                        id:"videoplayer",
                        wmode:"opaque"
                    };
                    new swfobject.embedSWF(
                            "{{ STATIC_URL }}uppod/player.swf",
                            "videoplayer",
                            "780",
                            "420",
                            "9.0.115.0",
                            false,
                            flashvars,
                            params);
                  </script>
            </div>
            <div class="b-movie__panel cleared">
                <div class="b-vote">
                    <div class="wrap">
                        <ul class="star-rate">
                            <li class="rating" title="Средняя оценка мэтров жюри">
                                                            <i class="ico b-ico_star"><i></i></i>
                                                            <span id="video-{{ object.id }}-score">
                                                                {{ object.avg_score|default_if_none:0|floatformat:'-1' }}</span>
                                                        </li>
                        </ul>
                    </div>
                </div>
                <div class="viewed">
                    <i class="b-ico b-ico_eye2"><i></i></i>
                    {{ object.views_count }} {{ object.views_count|rupluralize:"просмотр,просмотра,просмотров" }}
                </div>
            </div>

            {% if request.user in participant_video.participant.event.jurors.all %}
            <div>
                <span class="dark-gray">Ваша оценка: </span>
                <span class="dark-gray" id="your-{{ participant_video.id }}-score">{{ participant_video.current_score.score|default:'Не выставлена' }}</span>
            </div>
            <div class="b-vote">
                <div class="wrap">
                <ul class="star-rate" data-total-rate="{{ participant_video.current_score.score }}" data-item-id="{{ participant_video.id }}">
                    {% for item in participant_video.score_nums %}
                        <li>
                            <a href="#" data-rate="{{ item }}">&nbsp;</a>
                        </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
            {% endif %}

            {% include 'snippets/video_description.html' %}
            <div id="vk_comments" class="vk_comments" style="margin: 0 auto;"></div>
            <script type="text/javascript">
                $(function() {
                    VK.Widgets.Comments("vk_comments", {limit: 10, width: "600", attach: "*"});
                });
            </script>

        </section><!--b-movie-->
    </div>
{% endblock %}
