{% extends "video/video_wrapper.html" %}
{% load sitetree videotags rupluralize %}

{% block title %}{{ object.title }}{% endblock %}

{% block head_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}flashplayer/history/history.css" />
{% endblock %}

{% block head_js %}
{#    <script type="text/javascript" src="{{ STATIC_URL }}flashplayer/history/history.js"></script>#}
    <!-- END Browser History required section -->
    <script type="text/javascript" src="{{ STATIC_URL }}j/swfobject.js"></script>
{#    <script type="text/javascript">#}
{#        // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection.#}
{#        var swfVersionStr = "10.2.0";#}
{#        // To use express install, set to playerProductInstall.swf, otherwise the empty string.#}
{#        var xiSwfUrlStr = "{{ STATIC_URL }}flashplayer/playerProductInstall.swf";#}
{#        var flashvars = {XMLurl:"{% url video-xml object.pk %}"};#}
{#        var params = {wmode:"opaque"};#}
{#        params.quality = "high";#}
{#        params.bgcolor = "#000000";#}
{#        params.allowscriptaccess = "sameDomain";#}
{#        params.allowfullscreen = "true";#}
{#        var attributes = {};#}
{#        attributes.id = "BumerangVideoPlayer";#}
{#        attributes.name = "BumerangVideoPlayer";#}
{#        attributes.align = "middle";#}
{#        swfobject.embedSWF(#}
{#                "{{ STATIC_URL }}flashplayer/BumerangVideoPlayer.swf", "flashContent",#}
{#                "100%", "100%",#}
{#                swfVersionStr, xiSwfUrlStr,#}
{#                flashvars, params, attributes);#}
{#        // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.#}
{#        swfobject.createCSS("#flashContent", "display:block;text-align:left;");#}
{#    </script>#}
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?48"></script>
    <script type="text/javascript">
      VK.init({apiId: 2847509, onlyWidgets: true});
    </script>
{% endblock %}

{#{% block breadcrumbs %}#}
{#<header class="b-page-head">#}
{#    <nav class="b-crumbs">#}
{#        <a href="">Участники</a>#}
{#        <span class="b-crumbs__sep">/</span>#}
{#        <a href="">Константин Константинопольский</a>#}
{#    </nav>#}
{##}
{#</header>#}
{#{% endblock %}#}

{% block left_column %}
    <header class="b-page-head">
        <nav class="b-crumbs">
            <a href="{% url users-list %}" class="return-to-previous-page">Вернуться на предыдущую страницу</a>
            <span class="b-crumbs__sep">/</span>
            <a href="{% url profile-detail object.owner.id %}">{{ object.owner.profile.title }}</a>
        </nav>
        <h1>{{ object.title }}</h1>
    </header>
    <div class="b-main-box d-rounded d-rounded_r10 d-sh cleared">
        <section class="b-movie js-toggle2-container">
            <div class="flash-content-wrapper">
                <div id="videoplayer"></div>
                <script type="text/javascript">
                    var flashvars = {
                        "comment":"Бумер (широкоэкранник 2.1)",
                        "st":"http://localhost:8000/static/uppod/video113-881.txt",
                        "file":"{{ object.best_quality_file.url }}"
                    };
                    var params = {
                        bgcolor:"#ffffff",
                        wmode:"opaque",
                        allowFullScreen:"true",
                        allowScriptAccess:"always",
                        id:"videoplayer"
                    };
                    new swfobject.embedSWF(
                            "http://localhost:8000/static/uppod/player.swf",
                            "videoplayer",
                            "780",
                            "420",
                            "9.0.115.0",
                            false,
                            flashvars,
                            params);
                </script>
{#                <div id="flashContent">#}
{#                    <p>#}
{#                        To view this page ensure that Adobe Flash Player version#}
{#                        10.2.0 or greater is installed.#}
{#                    </p>#}
{#                    <script type="text/javascript">#}
{#                        var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");#}
{#                        document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='"#}
{#                                + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>" );#}
{#//                    </script>#}
            </div>
            <div class="b-movie__panel cleared">
                <div class="b-vote">
                    <a href="#" class="b-vote__like"><i class="b-ico b-ico_heart"><i></i></i><span>нравится</span></a>
                    <span class="b-vote__rating"><span>67</span></span>
                    <a href="#" class="b-vote__notlike" title="не нравится"><i class="b-ico b-ico_heart2"><i></i></i></a>
                </div>
                <div class="viewed">
                    <i class="b-ico b-ico_eye2"><i></i></i>
                    {{ object.views_count }} {{ object.views_count|rupluralize:"просмотр,просмотра,просмотров" }}
                </div>
            </div>
            <article class="js-toggle2-block" style="">
                <p>
                    {{ object.description|linebreaksbr }}
                </p>
                <ul class="b-opts">
                    {% if object.genre %}
                    <li>
                        <strong>Жанр:</strong>
                        <span>{{ object.genre.title }}</span>
                    </li>
                    {% endif %}
                    {% if object.city %}
                    <li>
                        <strong>Город:</strong>
                        <span>{{ object.city }}</span>
                    </li>
                    {% endif %}
                    {% if object.country %}
                    <li>
                        <strong>Страна:</strong>
                        <span>{{ object.country }}</span>
                    </li>
                    {% endif %}
                    {% if object.agency %}
                    <li>
                        <strong>Учреждение:</strong>
                        <span>{{ object.agency }}</span>
                    </li>
                    {% endif %}
                    <li>
                        <strong>Длительность (сек):</strong>
                        <span>{{ object.duration|default_if_none:0|to_hms }}</span>
                    </li>
                    {% if object.authors %}
                        <li>
                            <strong>Авторы:</strong>
                            <span>{{ object.authors }}</span>
                        </li>
                    {% endif %}
                    {% if object.year %}
                        <li>
                            <strong>Год:</strong>
                            <span>{{ object.year }}</span>
                        </li>
                    {% endif %}
                    {% if object.festivals %}
                        <li>
                            <strong>Участие в фестивалях:</strong>
                            <span>{{ object.festivals }}</span>
                        </li>
                    {% endif %}
                </ul>
            </article>
            <footer class="b-movie__foot">
                <div class="b-close-lnk">
                    <i class="b-ico b-ico_x"><i></i></i>
                    <span class="b-pseudolink js-toggle2-lnk"><span><span class="js-toggle2-text">Скрыть</span> описание ролика</span></span>
                </div>
            </footer>

            <div id="vk_comments" style="margin: 0 auto;"></div>
            <script type="text/javascript">
                $(function() {
                    VK.Widgets.Comments("vk_comments", {limit: 10, width: "600", attach: "*"});
                });
            </script>

        </section><!--b-movie-->
    </div>
{#    <section class="b-comments l-comments">#}
{#        <header class="b-comments__head">#}
{#            <h3>Комментарии пользователей</h3>#}
{#        </header>#}
{#        <section class="b-form b-form_comment">#}
{#            <form>#}
{#                <div class="b-form__fields">#}
{#                    <div class="b-form__field">#}
{#                        <label>#}
{#                            <span class="b-ava b-ava_small">#}
{#                                <img src="i/fake/ava1.jpg" width="100" height="100" alt="" />#}
{#                            </span>#}
{#                            <span class="f-textarea">#}
{#                                <textarea rows="5" cols="20" class="wide"></textarea>#}
{#                            </span>#}
{#                        </label>#}
{#                    </div>#}
{#                </div>#}
{#                <footer class="b-form__footer">#}
{#                    <a href="#" class="b-button b-button_yellow">Добавить</a>#}
{#                </footer>#}
{#            </form>#}
{#        </section>#}
{#        <div class="b-comments__i">#}
{#            <section class="b-comment">#}
{#                <header class="b-comment__head">#}
{#                    <div class="b-ava b-ava_small">#}
{#                        <img src="i/fake/ava1.jpg" width="100" height="100" alt="" />#}
{#                    </div>#}
{#                    <h4><a href="">Вася Васечкин</a></h4>#}
{#                    <time>12:56, 28.09.2011</time>#}
{#                    <p>#}
{#                        05 июня в городе Реджио Эмилия на площади Пьяцио Коммунале состоялась#}
{#                        церемония Открытия 10-й всемирной встречи и чемпионата мира по#}
{#                        парашютному спорту среди ветеранов. В церемонии Открытия приняли#}
{#                        участие команды из 16 стран мира. Флаг российской сборной нес Петр#}
{#                        Сергеевич Лучшев из Ульяновска.#}
{#                    </p>#}
{#                </header>#}
{#            </section>#}
{#            <section class="b-comment">#}
{#                <header class="b-comment__head">#}
{#                    <div class="b-ava b-ava_small">#}
{#                        <img src="i/fake/ava1.jpg" width="100" height="100" alt="" />#}
{#                    </div>#}
{#                    <h4><a href="">Джон (JOSH)</a></h4>#}
{#                    <time>12:56, 28.09.2011</time>#}
{#                    <p>#}
{#                        Конечная морена прекращает излом, где на поверхность выведены кристаллические структуры фундамента.#}
{#                    </p>#}
{#                </header>#}
{#            </section>#}
{#        </div>#}
{#    </section>#}
{% endblock %}
