{% extends "video/tabs_wrapper.html" %}
{% load sitetree %}
{% load rupluralize %}
{% load videotags %}


{% block left_column %}
    <div class="b-tabs d-sh">
        <dl>
            <dd><div class="b-tabs__tab-content">
            </div></dd>
            <dt class="first selected">
                <span>Видео</span>
                <i class="l"></i>
                <i class="r"></i>
            </dt>
            <dd class="selected"><div class="b-tabs__tab-content">
                <section class="b-profile">
                    <header class="b-profile__head b-profile__head_small cleared">
                        <div class="b-profile__pic">
                            <div class="b-ava b-ava_small">
                                {% if object.owner.profile.min_avatar %}
                                    <img src="{{ object.owner.profile.min_avatar.url }}" width="60" height="60" alt="" />
                                {% else %}
                                    <img src="{{ STATIC_URL }}i/noava.jpg" width="60" height="60" alt="" />
                                {% endif %}
                                <i class="b-ava__sh"></i>
                            </div>
                        </div>
                        <div class="b-profile__txt">
                            {% if user.id == object.owner_id %}
                                <ul class="b-service-buttons">
                                    <li class="edit"><i></i><a href="{% url profile-edit %}">Редактировать профиль</a></li>
                                </ul>
                            {% endif %}
                            <a href="{% url profile-detail object.owner_id %}">
                                <h4>{{ object.owner.profile.title }}</h4>
                            </a>
                            <p>{{ object.owner.profile.place }}</p>
                        </div>
                    </header>
                </section>
                <div class="b-hr"><hr /></div>
                <header class="b-head cleared">
                    <ul class="b-service-buttons">
                        <li class="addphoto"><i></i><a href="">Добавить фото</a></li>
                        <li class="edit"><i></i><a href="">Редактировать альбом</a></li>
                    </ul>
                    <a href="" class="b-button-prev"><span>Все альбомы</span></a>
                    <h3>
                        Редактирование видео &laquo;{{ form.instance.title }}&raquo;
                    </h3>
                </header>
                <section class="b-form b-form_smaller b-form_edit">
                    <form name="videoform" action="{% url video-edit form.instance.id %}" method="post">
                        {% csrf_token %}
                        <div class="b-form__fields">
                            {% for item in form %}
                                <fieldset>
                                    <div class="b-form__field">
                                        <label>
                                            <span class="f-title">
                                                <span>{{ item.label }}</span>
                                            </span>
                                            <span class="f-input">
                                                {{ item }}
                                            </span>
                                        </label>
                                        {% if item.errors %}
                                            <div class="f-err"><span>{{ item.errors }}</span></div>
                                        {% endif %}
                                    </div>
                                </fieldset>
                            {% endfor %}
                        </div>
                        <footer class="b-form__footer">
                            <div class="wrap">
                                <a class="b-button b-button_yellow button-submit">Сохранить</a>
                            </div>
                        </footer>
                    </form>
                </section>
            </div></dd>

        </dl>
    </div>
{% endblock %}

{% block popup %}
    <section class="b-popup" id="popup-del-video" style="left:50%; top:100px;">
        <section class="b-form b-form_left b-form_smaller b-form_popup b-form_popup_confirm">
            <header class="b-form__header">
                <h4>
                    Вы дйствительно хотите удалить видеозапись?
                </h4>
                <p>
                    Видео будет удалено безвозвратно.
                </p>
            </header>
            <footer class="b-form__footer cleared">
                <a class="b-button b-button_yellow left cancel">Отменить</a>
                <a class="b-button b-button_red right videos_delete">Удалить</a>
            </footer>
        </section><!--b-form-->
        <div class="b-popup__tl"></div>
        <div class="b-popup__tr"></div>
        <div class="b-popup__br"></div>
        <div class="b-popup__bl"></div>
    </section><!--b-popup-->

    <section class="b-popup" id="popup-move-video" style="left:50%; top:100px;">
        <section class="b-form b-form_smaller b-form_popup">
            <header class="b-form__header">
                <h3>
                    Переместить в альбом
                </h3>
            </header>
            <div class="b-form__fields">
                <div class="b-form__field">
                    {% for item in object.owner.videoalbum_set.all %}
                        <div class="b-form__field b-form__field_radio">
                            <div class="f-radio">
                                <div>
                                    <input {% if item == object %}disabled="disabled"{% endif %} type="radio" name="album" value="{{ item.id }}" id="album{{ item.id }}" />
                                    <label for="album{{ item.id }}" {% if item == object %}style="color: #666;"{% endif %}>
                                        {{ item.title }}
                                        {% if item == object %}(Текущий альбом){% endif %}
                                    </label>
                                </div>
                                <div class="f-err"><span></span></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <footer class="b-form__footer">
                <div class="wrap">
                    <a href="" class="b-button b-button_yellow videos_move button-submit">Переместить</a>
                </div>
                <div class="clear"></div>
            </footer>
        </section><!--b-form-->
        <div class="b-popup__close" title="Закрыть"><i class="b-ico b-ico_x"><i></i></i></div>
        <div class="b-popup__tl"></div>
        <div class="b-popup__tr"></div>
        <div class="b-popup__br"></div>
        <div class="b-popup__bl"></div>
    </section><!--b-popup-->

    <section class="b-popup" id="popup-edit-video" style="left:50%; top:100px;">
        <section class="b-form b-form_smaller b-form_popup">
            <header class="b-form__header">
                <h3>
                    Редактирование видео
                </h3>
            </header>
            <div class="b-form__fields">
                <div class="b-form__field">
                    <label>
                        <span class="f-title"><span>Название</span></span>
					<span class="f-input">
						<input type="text" value="" class="wide" />
					</span>
                    </label>
                </div>
                <div class="b-form__field">
                    <label>
                        <span class="f-title"><span>Описание</span></span>
					<span class="f-textarea">
						<textarea rows="5" cols="45" class="wide wide_descr3"></textarea>
					</span>
                    </label>
                </div>
            </div>
            <footer class="b-form__footer">
                <div class="wrap">
                    <div class="hint"><small>Осталось заполнить: название</small></div>
                    <a href="" class="b-button b-button_yellow disabled">Создать</a>
                </div>
                <span class="or">или <a href="" class="b-pseudolink">отменить</a> и вернуться к альбомам.</span>
                <div class="clear"></div>
            </footer>
        </section><!--b-form-->
        <div class="b-popup__close" title="Закрыть"><i class="b-ico b-ico_x"><i></i></i></div>
        <div class="b-popup__tl"></div>
        <div class="b-popup__tr"></div>
        <div class="b-popup__br"></div>
        <div class="b-popup__bl"></div>
    </section><!--b-popup-->
{% endblock %}
