{% extends "video/video_wrapper.html" %}
{% load sitetree rupluralize %}

{% block title %}
    {% if form.instance.pk %}
        Редактирование видео &laquo;{{ form.instance.title }}&raquo;
    {% else %}
        Создание видео
    {% endif %}
{% endblock %}

{% block left_column %}
    <div class="b-tabs d-sh">
        <dl>
            <dt class="first">
                <a href="{% url profile-detail request.user.profile.id %}">
                    <span>Профиль</span>
                </a>
                <i class="l"></i>
                <i class="r"></i>
            </dt>
            <dd>
                <div class="b-tabs__tab-content">
                </div>
            </dd>

            <dt class="selected">
                <span>Видео</span>
                <i class="l"></i>
                <i class="r"></i>
            </dt>
            <dd class="selected">
                <div class="b-tabs__tab-content">
                    {% include "snippets/section_profile.html" with profile=request.user.profile %}
                    <div class="b-hr">
                        <hr/>
                    </div>
                    <header class="b-head cleared">
{#                        <ul class="b-service-buttons">#}
{#                            <li class="addvideo"><i></i><a#}
{#                                    href="{% url video-add %}">Добавить#}
{#                                видео</a>#}
{#                            </li>#}
{#                            <li class="edit"><i></i><a href="#">Редактировать альбом</a>#}
{#                            </li>#}
{#                        </ul>#}
                        <a href="{% url profile-video-detail request.user.profile.id %}"
                           class="b-button-prev"><span>Все альбомы</span></a>
                        <h3>
                            {% if form.instance.pk %}
                                Редактирование видео &laquo;{{ form.instance.title }}&raquo;
                            {% else %}
                                Создание видео
                            {% endif %}
                        </h3>
                    </header>
                    <section class="b-form b-form_album b-form_edit b-form_smaller">
                        <form id="video-upload-form" name="editform" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="b-form__fields">
                                {% for item in form %}
                                    <fieldset>
                                        <div class="b-form__field">
                                            <label>
                                <span class="f-title">
                                    <span>{{ item.label }}</span>
                                </span>
                                <span class="f-input">
                                    {{ item }}
                                </span>
                                            </label>
                                            {% if item.errors %}
                                                <div class="f-err">
                                                    <span>{{ item.errors }}</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </fieldset>
                                {% endfor %}
                            </div>
                            <footer class="b-form__footer">
                                <div class="wrap">
                                    {% if form.instance.pk %}
                                        <a href="#" class="b-button b-button_yellow button-submit">
                                            Сохранить
                                        </a>
                                    {% else %}
                                        <a href="#" class="b-button b-button_yellow button-video-upload">
                                            Создать
                                        </a>
                                    {% endif %}
                                </div>
                            </footer>
                        </form>
                    </section>
                </div>
            </dd>
            <dt>
                {% spaceless %}
                    <a href="{% url profile-photo-detail request.user.id %}">
                        <span>Фото</span>
                    </a>
                {% endspaceless %}
                <small>0</small>
                <i class="l"></i>
                <i class="r"></i>
            </dt>
            <dd>
                <div class="b-tabs__tab-content">
                </div>
            </dd>

            <dt>
            {% spaceless %}
                <a href="{% url messages_redirect %}">
                    <span>Сообщения</span>
                </a>
            {% endspaceless %}
                <small>{{ messages_inbox_count }}</small>
            <i class="l"></i>
            <i class="r"></i>
        </dt>
        </dl>
    </div>
{% endblock %}

{% block popup %}
    {% include "snippets/popup_file_upload.html" %}
{% endblock %}