<?xml version="1.0" encoding="UTF-8"?>
<movie>
    <duration>{{ object.seconds_duration }}</duration>
    {% if object.preview %}<preview>{{ object.preview.url }}</preview>{% endif %}
    <video>
        {% if object.hq_file %}<link title="HD+" bps="2048">{{ object.hq_file.url }}</link>{% endif %}
        {% if object.mq_file %}<link title="HD" bps="1024" default="1">{{ object.mq_file.url }}</link>{% endif %}
        {% if object.lq_file %}<link title="SD" bps="512">{{ object.lq_file.url }}</link>{% endif %}
    </video>
</movie>