{% load sitetree %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}s/reset.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}s/style.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}s/alerts.css" />
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="{{ STATIC_URL }}s/style-ie.css" />
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    {% block head_css %}{% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.gradienttext.js"></script>
    <script type="text/javascript"   src="{{ STATIC_URL }}j/jquery.custominput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.interface.js"></script>
    {% block head_js %}{% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}j/site.js"></script>
</head>
<body>
<div class="l-page"><div class="l-page__i">
    {% block notifications %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert-message {{ message.tags }}">
                    <a class="close msg-close" href="#">×</a>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endblock %}
    <header class="l-head">
        <div class="l-head__space"></div>
        <div class="logo">
            <a href="{% url BumerangIndexView %}"><img src="{{ STATIC_URL }}i/bumerangtv-logo.png" alt="PRO Бумеранг ТВ" width="383" height="61" /></a>
        </div>
        <nav class="b-navigation d-rounded d-rounded_r10 d-sh">
            {% sitetree_menu from "main_menu" include "trunk" template "sitetree/topmenu.html" %}
        </nav>
        <ul class="buttons-wrap">
            <li>
                <a href="{% if request.user.videoalbum_set.count %}{% url video-add %}{% else %}{% url video-album-add %}{% endif %}" class="b-button b-button_yellow b-button_add">Добавить видео</a>
            </li>
            <li>
                {% if not user.id %}
                    <div class="enter-lnk">
                        <i class="b-ico b-ico_key"><i></i></i>
                        <span class="b-pseudolink popup-handle" rel="popup-login"><span>Вход с паролем</span></span>
                    </div>
                {% else %}
                    <div class="b-head-user cleared">
                        <div class="right">
                            <div class="b-head-user__help"><a href="/help/" class="b-head-user__link b-head-user__link">Помощь</a></div>
                            <div class="b-head-user__exit"><a href="{% url logout %}" class="b-head-user__link b-head-user__link_exit">Выйти</a></div>
                        </div>
                        <div class="b-dropdown2 cleared" id="dropdown2">
                            <div class="b-ava b-ava_small">
                                <a href="{% url profile-detail user.id %}" class="js-double-hover" title="{{ user.profile_title }}">
                                    {% if not user.profile.min_avatar %}
                                        <img src="{{ STATIC_URL }}i/noava-b.jpg" width="60" height="60" alt="{{ user.profile.title }}" />
                                    {% else %}
                                        <img src="{{ user.profile.min_avatar.url }}" width="60" height="60" alt="{{ user.profile.title }}" />
                                    {% endif %}
                                </a>
                                <i class="b-ava__sh"></i>
                            </div>
                            <ul class="b-dropdown2__list">
                                <li class="b-dropdown2__item b-dropdown2__item_name b-dropdown2__visible">
                                        {% if user.profile.title %}
                                            <a href="{% url profile-detail user.id %}" class="b-dropdown2__name" title="{{ user.profile.title }}">
                                                {% if user.profile.title %}
                                                    {% if user.profile.type != 1 %}
                                                        {{ user.profile.get_type_display }} &laquo;{{ user.profile.title }}&raquo;
                                                    {% else %}
                                                        {{ user.profile.title }}
                                                    {% endif %}
                                                {% endif %}
                                            </a>
                                            <div class="b-dropdown2__button"><div class="arr"></div></div>
                                        {% else %}
                                            <a href="{% url profile-edit %}" class="b-dropdown2__name">
                                                Заполните имя профиля
                                            </a>
                                        {% endif %}
                                </li>
                                <li class="b-dropdown2__item b-dropdown2__visible">
                                    <a href="#" class="b-dropdown2__link">Сообщения</a>
                                    <small class="b-dropdown2__count">1678</small>
                                </li>
                                <li class="b-dropdown2__item b-dropdown2__visible">
                                    <a href="#" class="b-dropdown2__link">Друзья</a>
                                    <small class="b-dropdown2__count">2</small>
                                </li>
                                <li class="b-dropdown2__item">
                                    <a href="{% url profile-video-detail user.id %}" class="b-dropdown2__link">Видеосюжеты</a>
                                    <small class="b-dropdown2__count">{{ user.profile.video_set.count|default:'0' }}</small>
                                </li>
{#                                <li class="b-dropdown2__item">#}
{#                                    <a href="" class="b-dropdown2__link">Фотографии</a>#}
{#                                </li>#}
{#                                <li class="b-dropdown2__item">#}
{#                                    <a href="" class="b-dropdown2__link">Комментарии</a>#}
{#                                    <small class="b-dropdown2__count">26</small>#}
{#                                </li>#}
{#                                <li class="b-dropdown2__item">#}
{#                                    <a href="" class="b-dropdown2__link">Избранное видео</a>#}
{#                                </li>#}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </li>
        </ul>
    </header>
    <div class="l-body"><div class="l-body__i">
        {% block content %}

        {% endblock %}
    </div></div><!--l-body-->
</div></div><!--l-page-->
<footer class="l-foot"><div class="l-foot__i">
    <section class="l-foot__c">
        <div class="t-addthis">
            <table>
                <tr>
                    <td class="td-google"><img src="{{ STATIC_URL }}i/fake/add1.png" alt="" /></td>
                    <td class="td-fb"><img src="{{ STATIC_URL }}i/fake/add2.png" alt="" /></td>
                    <td class="td-tw"><img src="{{ STATIC_URL }}i/fake/add3.png" alt="" /></td>
                    <td class="td-vk"><img src="{{ STATIC_URL }}i/fake/add4.png" alt="" /></td>
                </tr>
            </table>
        </div>
    </section>
    <aside class="l-foot__l">
        <p class="copyright">&copy; ПРО Бумеранг, 2010—2011</p>
        <p>
            <a href="">Обратная связь</a>
            <br/>
            <a href="">Условия использования сайта</a>
        </p>
    </aside>
    <aside class="l-foot__r">
        <p class="artiv">
            {% spaceless %}
                Сделано в студии &laquo;<a href="http://pystars.com/">PyStars</a>&raquo;
            {% endspaceless %}
            <br/>
            <a href="/about/">Информация о сайте</a>
        </p>
{#        <p class="intex">Проектирование — компания &laquo;<a href="">Интех-М</a>&raquo;</p>#}
    </aside>
</div></footer><!--l-foot-->
<div class="l-tint" id="tint"></div>
<section class="b-popup" id="popup-login" style="left:50%; top:100px;">
    <section class="b-form b-form_smaller b-form_popup">
        <form name="login_form" action="{% url login %}" method="post">
            {% csrf_token %}
            <header class="b-form__header">
                <h3>
                    Вход
                </h3>
            </header>
            <div class="b-form__fields">
                <div class="b-form__field">
                    <label>
                        <span class="f-title"><span>Почта</span></span>
                    <span class="f-input">
                        {{ auth_form.username }}
                    </span>
                    </label>
                </div>
                <div class="b-form__field">
                    <label>
                        <span class="f-title"><span>Пароль</span></span>
                        <span class="f-input">
                            {{ auth_form.password }}
                        </span>
                    </label>
                    <span class="f-forgot"><a href="{% url password-recover %}">забыл пароль</a></span>
                </div>
                <div class="b-form__field b-form__field_remember">
                    <div class="f-checkbox">
                        <input type="checkbox" name="" value="" id="checkbox-01" />
                        <label for="checkbox-01">
                            запомнить меня
                        </label>
                    </div>
                </div>
            </div>
            <footer class="b-form__footer">
                <div class="wrap">
                    <a href="#" class="b-button b-button_yellow" onclick="document.login_form.submit();">Войти</a>
                </div>
                <span class="or">или <a href="{% url registration %}">зарегистрироваться</a></span>
                <div class="clear"></div>
            </footer>
        </form>
    </section><!--b-form-->
    <div class="b-popup__close" title="Закрыть"><i class="b-ico b-ico_x"><i></i></i></div>
    <div class="b-popup__tl"></div>
    <div class="b-popup__tr"></div>
    <div class="b-popup__br"></div>
    <div class="b-popup__bl"></div>
</section><!--b-popup-->
{% block popup %}{% endblock %}
</body>
</html>
