{% load sitetree %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{% endblock %}</title>
	<link rel="shortcut icon" href="favicon.ico" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="{{ STATIC_URL }}s/reset.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}s/style.css" />
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="{{ STATIC_URL }}s/style-ie.css" />
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	{% block head_css %}{% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}j/jquery.gradienttext.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}j/jquery.interface.js"></script>
    {% block head_js %}{% endblock %}
</head>
<body>
<div class="l-page"><div class="l-page__i">
	<header class="l-head">
		<div class="l-head__space"></div>
        <div class="logo">
            <a href="{% url BumerangIndexView %}"><img src="{{ STATIC_URL }}i/bumerangtv-logo.png" alt="PRO Бумеранг ТВ" width="383" height="61" /></a>
        </div>
		<nav class="b-navigation d-rounded d-rounded_r10 d-sh">
			{% sitetree_menu from "main_menu" include "trunk" template "sitetree/topmenu.html" %}
		</nav>
		<ul class="buttons-wrap">
			<li>
				<a href="#" class="b-button b-button_yellow b-button_add d-rounded d-rounded_r10">Добавить видео</a>
			</li>
			<li>
				<a href="#" class="b-button b-button_login d-rounded d-rounded_r10">
					<i class="b-ico b-ico_key"><i></i></i>
					<span class="b-pseudolink"><span>Вход с паролем</span></span>
				</a>
			</li>
		</ul>
	</header>
	<div class="l-body"><div class="l-body__i">
        {% block content %}
            <p>Lorem</p>
        {% endblock %}
	</div></div><!--l-body-->
</div></div><!--l-page-->
<footer class="l-foot"><div class="l-foot__i">
	<section class="l-foot__c">
		<div class="t-addthis">
			<table>
				<tr>
					<td class="td-google"><img src="{{ STATIC_URL }}i/fake/add1.png" alt="" /></td>
					<td class="td-fb"><img src="{{ STATIC_URL }}i/fake/add2.png" alt="" /></td>
					<td class="td-tw"><img src="{{ STATIC_URL }}i/fake/add3.png" alt="" /></td>
					<td class="td-vk"><img src="{{ STATIC_URL }}i/fake/add4.png" alt="" /></td>
				</tr>
			</table>
		</div>
	</section>
	<aside class="l-foot__l">
		<p class="copyright">&copy; ПРО Бумеранг, 2010—2011</p>
		<p>
			<a href="">Обратная связь</a>
			<br/>
			<a href="">Условия использования сайта</a>
		</p>
	</aside>
	<aside class="l-foot__r">
		<p class="artiv">
			Сделано в студии
			&laquo;<a href=""><img src="{{ STATIC_URL }}i/artiv-logo.png" alt="" width="44" height="20" />Артив</a>&raquo;
			<br/>
			<a href="">Информация о сайте</a>
		</p>
		<p class="intex">Проектирование — компания &laquo;<a href="">Интех-М</a>&raquo;</p>
	</aside>
</div></footer><!--l-foot-->
</body>
</html>
