{% load sitetree %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<link rel="shortcut icon" href="favicon.ico" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="{{ STATIC_URL }}s/reset.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}s/style.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}s/alerts.css" />
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="s/style-ie.css" />
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="{{ STATIC_URL }}j/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}j/jquery.gradienttext.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}j/jquery.interface.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery.custominput.js"></script>
</head>
<body>
<div class="l-page l-page_index"><div class="l-page__i">
	<header class="l-head">
		<div class="l-head__space"></div>
		<h1 class="logo">
			<a href="{% url BumerangIndexView %}"><img src="{{ STATIC_URL }}i/bumerangtv-logo.png" alt="PRO Бумеранг ТВ" width="383" height="61" /></a>
		</h1>
		<nav class="b-navigation d-rounded d-rounded_r10 d-sh">
			{% sitetree_menu from "main_menu" include "trunk" template "sitetree/topmenu.html" %}
		</nav>
		<ul class="buttons-wrap">
			<li>
				<a href="#" class="b-button b-button_yellow b-button_add">Добавить видео</a>
			</li>
			<li>
                {% if not user.id %}
                    <div class="enter-lnk">
                        <i class="b-ico b-ico_key"><i></i></i>
                        <span class="b-pseudolink popup-handle" rel="popup-login"><span>Вход с паролем</span></span>
                    </div>
                {% else %}
                    <div class="b-head-user cleared">
                        <div class="right">
                            <div class="b-head-user__help"><a href="" class="b-head-user__link b-head-user__link">Помощь</a></div>
                            <div class="b-head-user__exit"><a href="{% url logout %}" class="b-head-user__link b-head-user__link_exit">Выйти</a></div>
                        </div>
                        <div class="b-dropdown2 cleared" id="dropdown2">
                            <div class="b-ava b-ava_small">
                                <a href="{% url profile-detail user.id %}" class="js-double-hover" title="{{ user.profile.title }}">
                                    <img src="{{ STATIC_URL }}i/fake/ava1s.jpg" width="60" height="60" alt="" />
                                </a>
                                <i class="b-ava__sh"></i>
                            </div>
                            <ul class="b-dropdown2__list">
                                <li class="b-dropdown2__item b-dropdown2__item_name b-dropdown2__visible">
                                    <a href="{% url profile-detail user.id %}" class="b-dropdown2__name" title="{{ user.profile.title }}">{{ user.profile.title }}</a>
                                    <div class="b-dropdown2__button"><div class="arr"></div></div>
                                </li>
                                <li class="b-dropdown2__item b-dropdown2__visible">
                                    <a href="" class="b-dropdown2__link">Сообщения</a>
                                    <small class="b-dropdown2__count">1678</small>
                                </li>
                                <li class="b-dropdown2__item b-dropdown2__visible">
                                    <a href="" class="b-dropdown2__link">Друзья</a>
                                    <small class="b-dropdown2__count">2</small>
                                </li>
                                <li class="b-dropdown2__item">
                                    <a href="" class="b-dropdown2__link">Видеосюжеты</a>
                                </li>
                                <li class="b-dropdown2__item">
                                    <a href="" class="b-dropdown2__link">Фотографии</a>
                                </li>
                                <li class="b-dropdown2__item">
                                    <a href="" class="b-dropdown2__link">Комментарии</a>
                                    <small class="b-dropdown2__count">26</small>
                                </li>
                                <li class="b-dropdown2__item">
                                    <a href="" class="b-dropdown2__link">Избранное видео</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
			</li>
		</ul>
	</header>
	<div class="l-body"><div class="l-body__i">
		<div class="b-main-box d-rounded d-rounded_r10 d-sh">
			<section class="b-tv">
				<header class="b-tv__head">
					<div class="b-now">
						<div class="b-plenka">
							<h2 class="b-plenka__i">
								<span class="b-plenka__title">Сейчас в эфире:</span>
								<a href="">Самый быстрый способ сделать монтаж дома</a>
							</h2>
						</div>
						<p class="now-brief" id="now-brief">
							Мега видео ПРО участников бумеранга, Всегда вместе и рядом, Про бумеранг
						</p>
					</div>
					<div class="b-close-lnk">
						<i class="b-ico b-ico_x"><i></i></i>
						<span class="b-pseudolink"><span>Скрыть программу передач</span></span>
					</div>
				</header><!--b-tv__head-->
				<div class="b-tv__body"><div class="b-tv__body__i">
					<div class="l-cols l-cols_tv"><div class="l-cols__i cleared">
						<section class="l-cols__section"><div class="l-cols__section__i">
							<article class="b-tv-programs">
								<header class="tp-head">
									<nav class="b-calend">
										<h2 class="cal-head">
											<span class="ch-day">30</span>
											<span class="ch-month">ноября</span>
										</h2>
										<a href="" class="cal-day cal-day1">10</a>
										<a href="" class="cal-day cal-day2">11</a>
										<a href="" class="cal-day cal-day3">12</a>
										<a href="" class="cal-day cal-day">13</a>
										<a href="" class="cal-day">14</a>
										<a href="" class="cal-day">15</a>
									</nav>
									<h3 class="tp-day">Четверг</h3>
									<ul class="tp-ctrls">
										<li class="tp-ctrl">
											<span class="b-pseudolink"><span>Сейчас</span></span>
											<time>6:07</time>
										</li>
										<li class="tp-ctrl selected"><span class="selected">Весь день</span></li>
									</ul> 
								</header>
								<div class="tp-items">
									<p class="tp-item tp-item_past tp-item_odd"><time>0:00</time> Наименование сюжета</p>
									<p class="tp-item tp-item_past"><time>0:45</time> Сюжет, сюжет, сюжетище</p>
									<p class="tp-item tp-item_past tp-item_odd"><time>1:30</time> <em>Мега видео ПРО участников бумеранга</em></p>
									<p class="tp-item tp-item_past"><time>3:50</time> Всегда вместе и рядом</p>
									<p class="tp-item tp-item_past tp-item_odd"><time>4:00</time> Самый быстрый способ сделать монтаж дома</p>
									<p class="tp-item tp-item_past"><time>5:00</time> ПРО бумеранг</p>
									<p class="tp-item tp-item_past tp-item_odd"><time>5:15</time> Конец эфира</p>
									<p class="tp-item tp-item_past"><time>5:55</time> Наименование сюжета</p>
									<p class="tp-item tp-item_now tp-item_odd"><time>6:03</time> <strong>Самый быстрый способ сделать монтаж дома</strong></p>
									<p class="tp-item tp-item_future"><time>6:25</time> <em>Мега видео ПРО участников бумеранга</em></p>
									<p class="tp-item tp-item_future tp-item_odd"><time>7:00</time> Всегда вместе и рядом</p>
									<p class="tp-item tp-item_future"><time>10:00</time> С/ж</p>
									<p class="tp-item tp-item_future tp-item_odd"><time>11:12</time> Про бумеранг</p>
									<p class="tp-item tp-item_future"><time>13:46</time> Конец эфира</p>
								</div>
							</article>
						</div></section>
						<aside class="l-cols__side"><div class="l-cols__side__i">
							<section class="b-announs b-announs_tv">
								<article class="announ-item">
									<div class="ai-img"><img src="{{ STATIC_URL }}i/fake/announ1.jpg" alt="" /></div>
									<header class="ai-head">
										<time class="date">5 августа, Пятница, 22:40-0:30</time>
										<h4>Неоконченный урок</h4>
										<p>
											Jeremy was trying to get me to pound his
											first, but I was too into taking the photo.
											The second of these
										</p>
									</header>
								</article>
								<article class="announ-item">
									<div class="ai-img"><img src="{{ STATIC_URL }}i/fake/announ2.jpg" alt="" /></div>
									<header class="ai-head">
										<time class="date">5 августа, Пятница, 22:40-0:30</time>
										<h4>Неоконченный урок</h4>
										<p>
											Jeremy was trying to get me to pound his
											first, but I was too into taking the photo.
											The second of these
										</p>
									</header>
								</article>
							</section>
						</div></aside>
					</div></div><!--l-cols-->
				</div></div><!--b-tv__body-->
			</section><!--b-tv-->
			<div class="l-cols l-cols_movie js-toggle2-block"><div class="l-cols__i cleared">
				<section class="l-cols__section"><div class="l-cols__section__i">
					<section class="b-movie">
						<video id="movie" width="100%" height="380" preload controls style="background:url({{ STATIC_URL }}i/fake/video.jpg) repeat-x;">
							<img src="{{ STATIC_URL }}i/fake/video.jpg" width="100%" height="380" />
						</video>
						<article>
							<p>
								В случае если какое-то поле не было заполнено в информации о сюжете, то оно не выводится.
								В окне описания к сюжету разрешается добавлять много текста. Если контент не умещается,
								то правее появляется ползунок прокрутки.
							</p>
							<ul class="b-opts">
								<li>
									<strong>Жанр:</strong>
									<span>социальный ролик</span>
								</li>
								<li>
									<strong>Город:</strong>
									<span>Волжский</span>
								</li>
								<li>
									<strong>Страна:</strong>
									<span>Россия</span>
								</li>
								<li>
									<strong>Учреждение:</strong>
									<span>студия Мультимедии и Анимации &laquo;Первые ласточки&raquo;</span>
								</li>
								<li>
									<strong>Продолжительность:</strong>
									<span>1 минута 11 секунд</span>
								</li>
								<li>
									<strong>Авторы:</strong>
									<span>Алексей Задубровский, Ярослав Симкин, Александр Рубан, Ирина Патрина, Елена Макарова, Светлана Узлова, Сергей Диденко</span>
								</li>
								<li>
									<strong>Год:</strong>
									<span>2011</span>
								</li>
								<li>
									<strong>Участие в фестивалях:</strong>
									<span>3 конкурс детского телевизионного творчества &laquo;ДЕТВора 2011&raquo;.</span>
								</li>
							</ul>
						</article>
						<footer class="b-movie__foot">
							<div class="b-close-lnk">
								<i class="b-ico b-ico_x"><i></i></i>
								<span class="b-pseudolink js-toggle2-lnk"><span>Скрыть описание ролика</span></span>
							</div>
						</footer>
					</section><!--b-movie-->
				</div></section>
				<aside class="l-cols__side"><div class="l-cols__side__i">
					<section class="b-adv">
						<header>
							<div class="b-adv__close" title="Закрыть"><i class="b-ico b-ico_x"><i></i></i></div>
							<div class="b-adv__title">Реклама</div>
						</header>
						<p>
							<a href="">
								<img src="{{ STATIC_URL }}i/fake/ban1.jpg" alt="" width="200" height="340" />
							</a>
						</p>
						<p>
							<a href="">
								<img src="{{ STATIC_URL }}i/fake/ban2.jpg" alt="" width="200" height="240" />
							</a>
						</p>
					</section>
				</div></aside>
			</div></div><!--l-cols-->
		</div><!--b-main-box-->
		<div class="l-cols l-cols_movies"><div class="l-cols__i cleared">
			<section class="l-cols__col1"><div class="l-cols__col1__i">
				<section class="b-announs b-announs_movie b-announs_movie_smaller js-toggle2-container">
					<header class="announs-head">
						<h2>Новые работы участников</h2>
					</header>
					<div class="announs-items">
						<article class="announ-item cleared">
							<div class="ai-img d-sh">
								<a href="">
									<span>
										<img src="{{ STATIC_URL }}i/fake/mov2.png" width="165" height="107" alt="" />
										<span class="time">1:54</span>
									</span>
								</a>
							</div>
							<header class="ai-head">
								<hgroup>
									<h3><a href="">BACKSTAGE</a></h3>
									<h4>Студия &laquo;<a href="">12South</a>&raquo;</h4>
								</hgroup>
								<p>
									Jeremy was trying to get me to pound his
									first, but I was too into
								</p>
							</header>
							<footer class="ai-foot">
								<time class="date">21.09.2011, 15:35</time>
								<ul class="b-stat">
									<li class="like"><i class="b-ico b-ico_heart"><i></i></i><span>1 564</span></li>
									<li class="viewed"><i class="b-ico b-ico_eye"><i></i></i><span>25 878</span></li>
								</ul>
							</footer>
						</article>
						<article class="announ-item cleared">
							<div class="ai-img d-sh">
								<a href="">
									<span>
										<img src="{{ STATIC_URL }}i/fake/mov1.png" width="165" height="107" alt="" />
										<span class="time">1:54</span>
									</span>
								</a>
							</div>
							<header class="ai-head">
								<hgroup>
									<h3><a href="">Edit</a></h3>
									<h4>Школа &laquo;<a href="">1249</a>&raquo;</h4>
								</hgroup>
							</header>
							<footer class="ai-foot">
								<time class="date">21.09.2011, 15:35</time>
								<ul class="b-stat">
									<li class="like"><i class="b-ico b-ico_heart"><i></i></i><span>1 564</span></li>
									<li class="viewed"><i class="b-ico b-ico_eye"><i></i></i><span>25 878</span></li>
								</ul>
							</footer>
						</article>
					</div>
				</section>
			</div></section>
			<section class="l-cols__col2"><div class="l-cols__col2__i">
				<section class="b-announs b-announs_movie b-announs_movie_smaller">
					<header class="announs-head">
						<h2>Популярное видео</h2>
					</header>
					<div class="announs-items">
						<article class="announ-item cleared">
							<div class="ai-img d-sh">
								<a href="">
									<span>
										<img src="{{ STATIC_URL }}i/fake/mov2.png" width="165" height="107" alt="" />
										<span class="time">1:54</span>
									</span>
								</a>
							</div>
							<header class="ai-head">
								<hgroup>
									<h3><a href="">BACKSTAGE</a></h3>
									<h4>Студия &laquo;<a href="">12South</a>&raquo;</h4>
								</hgroup>
								<p>
									Jeremy was trying to get me to pound his
									first, but I was too into
								</p>
							</header>
							<footer class="ai-foot">
								<time class="date">21.09.2011, 15:35</time>
								<ul class="b-stat">
									<li class="like"><i class="b-ico b-ico_heart"><i></i></i><span>1 564</span></li>
									<li class="viewed"><i class="b-ico b-ico_eye"><i></i></i><span>25 878</span></li>
								</ul>
							</footer>
						</article>
						<article class="announ-item cleared">
							<div class="ai-img d-sh">
								<a href="">
									<span>
										<img src="{{ STATIC_URL }}i/fake/mov1.png" width="165" height="107" alt="" />
										<span class="time">1:54</span>
									</span>
								</a>
							</div>
							<header class="ai-head">
								<hgroup>
									<h3><a href="">Edit</a></h3>
									<h4>Школа &laquo;<a href="">1249</a>&raquo;</h4>
								</hgroup>
							</header>
							<footer class="ai-foot">
								<time class="date">21.09.2011, 15:35</time>
								<ul class="b-stat">
									<li class="like"><i class="b-ico b-ico_heart"><i></i></i><span>1 564</span></li>
									<li class="viewed"><i class="b-ico b-ico_eye"><i></i></i><span>25 878</span></li>
								</ul>
							</footer>
						</article>
					</div>
				</section>
			</div></section>
		</div></div><!--l-cols-->
	</div></div><!--l-body-->
</div></div><!--l-page-->
<footer class="l-foot"><div class="l-foot__i">
	<section class="l-foot__c">
		<div class="t-addthis">
			<table>
				<tr>
					<td class="td-google"><img src="{{ STATIC_URL }}i/fake/add1.png" alt="" /></td>
					<td class="td-fb"><img src="{{ STATIC_URL }}i/fake/add2.png" alt="" /></td>
					<td class="td-tw"><img src="{{ STATIC_URL }}i/fake/add3.png" alt="" /></td>
					<td class="td-vk"><img src="{{ STATIC_URL }}i/fake/add4.png" alt="" /></td>
				</tr>
			</table>
		</div>
	</section>
	<aside class="l-foot__l">
		<p class="copyright">&copy; ПРО Бумеранг, 2010—2011</p>
		<p>
			<a href="">Обратная связь</a>
			<br/>
			<a href="">Условия использования сайта</a>
		</p>
	</aside>
	<aside class="l-foot__r">
		<p class="artiv">
			Сделано в студии
			&laquo;<a href=""><img src="{{ STATIC_URL }}i/artiv-logo.png" alt="" width="44" height="20" />Артив</a>&raquo;
			<br/>
			<a href="">Информация о сайте</a>
		</p>
		<p class="intex">Проектирование — компания &laquo;<a href="">Интех-М</a>&raquo;</p>
	</aside>
</div></footer><!--l-foot-->
<div class="l-tint" id="tint"></div>
<section class="b-popup" id="popup-login" style="left:50%; top:100px;">
    <section class="b-form b-form_smaller b-form_popup">
        <form name="login_form" action="{% url login %}" method="post">
            {% csrf_token %}
        <header class="b-form__header">
            <h3>
                Вход
            </h3>
        </header>
        <div class="b-form__fields">
            <div class="b-form__field">
                <label>
                    <span class="f-title"><span>Почта</span></span>
					<span class="f-input">
						{{ auth_form.username }}
					</span>
                </label>
            </div>
            <div class="b-form__field">
                <label>
                    <span class="f-title"><span>Пароль</span></span>
					<span class="f-input">
						{{ auth_form.password }}
					</span>
                </label>
                <span class="f-forgot"><a href="{% url password-recover %}">забыл пароль</a></span>
            </div>
            <div class="b-form__field b-form__field_remember">
                <div class="f-checkbox">
                    <input type="checkbox" name="" value="" id="checkbox-01" />
                    <label for="checkbox-01">
                        запомнить меня
                    </label>
                </div>
            </div>
        </div>
        <footer class="b-form__footer">
            <div class="wrap">
                <a href="" class="b-button b-button_yellow" onclick="document.login_form.submit();">Войти</a>
            </div>
            <span class="or">или <a href="{% url registration %}">зарегистрироваться</a></span>
            <div class="clear"></div>
        </footer>
        </form>
    </section><!--b-form-->
    <div class="b-popup__close" title="Закрыть"><i class="b-ico b-ico_x"><i></i></i></div>
    <div class="b-popup__tl"></div>
    <div class="b-popup__tr"></div>
    <div class="b-popup__br"></div>
    <div class="b-popup__bl"></div>
</section><!--b-popup-->
</body>
</html>