{% extends "inside.html" %}
{% load sitetree %}

{% block title %}{% sitetree_page_title from "main_menu" %}{% endblock %}

{% block left_col %}
    <h1>Новости</h1>
    {% for item in object_list %}
        <article class="b-article">
            <p class="date">{{ item.creation_date|date:'d E Y' }}</p>
            <h3><a href="{% url SingleNewsView item.slug %}">{{ item.title }}</a></h3>
            <p class="b-intro">{{ item.preview_text|safe }}</p>
        </article>
    {% endfor %}

    {% if is_paginated %}
        <div class="pagination" style="margin-top: 40px;">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                {% endif %}

                <span class="current">
                    Страница {{ page_obj.number }} из {{ paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                {% endif %}
            </span>
        </div>
    {% endif %}


{% endblock %}

{% block right_col %}
<ul>
    {% for category in news_categories %}
        <li><a href="#" title="{{ category.title }}">{{ category.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
