{% extends "inside.html" %}
{% load sitetree %}

{% block title %}{{ object.title }}{% endblock %}

{% block left_col %}
    <div class="single-news">
        <article class="b-article">
            <p class="date">{{ object.creation_date|date:'d E Y' }}</p>
            <h3>{{ object.title }}</h3>
            <p class="b-intro">{{ object.preview_text|safe }}</p>
            <figure class="b-quote">
                <blockquote>
                    {{ object.text|safe }}
                </blockquote>
            </figure>
        </article>

    </div>
{% endblock %}
