<fieldset>
    <div class="b-form__field">
        <label>
            <span class="f-title">
{#                <span>#}
                    {{ data.label }} {% if data.required %}<span class="sp-err">*</span>{% endif %}
{#                </span>#}
            </span>

            <span class="f-textarea">
                <textarea{{ data.attrs|safe }} name="{{ data.name }}" id="{{ data.id }}">{{ data.value|default_if_none:'' }}</textarea>
            </span>
        </label>
        {% if data.errors %}
            <div class="sp-err"><span>{{ data.errors }}</span></div>
        {% endif %}
    </div>
</fieldset>
