{% extends "email/base.html" %}

{% block content %}
    <td>
        <p style="margin: 4px 0 4px 0;">
            Вы можете изменить логин и пароль в разделе "Настройки" вашей личной
            страницы. Если у вас возникнут какие-либо трудности, обратитесь в
            техническую поддержку - <a href="mailto:support@probumerang.tv" target="_blank">support@probumerang.tv</a>.
        </p>
        <p style="margin: 4px 0 4px 0;">
            Перед активной работой на сайте рекомендуем заглянуть в раздел
            "Обучение", в котором вы найдете обучающие видеоролики по всем
            основным функциям сайта.
        </p>
        <p style="margin: 4px 0 4px 0;">
            Вы получили это письмо потому, что вы (либо кто-то, выдающий себя
            за вас) зарегистрировались на сайте probumerang.tv.
        </p>
        <p style="margin: 4px 0 4px 0;">
            Если вы не регистрировались, то не обращайте внимания на это письмо
            и ваша учетная запись будет автоматически удалена через 12 часов.
            Если же подобные письма будут продолжать приходить, обратитесь к
            администратору admin@probumerang.tv.
        </p>
    </td>
{% endblock %}