{% extends "accounts/profile_edit_wrapper.html" %}
{% load sitetree formtags %}

{% block title %}Редактирование профиля{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />
{% endblock %}

{% block head_js %}
{#    <script type="text/javascript" src="{{ STATIC_URL }}j/jquery-1.7.2.min.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autogrow.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/datepicker-ru.js"></script>
{% endblock %}

{% block edit_form %}

{#{% if form|form_type in 'StudioProfileInfoForm SchoolProfileInfoForm UserProfileInfoForm FestivalProfileInfoForm' %}#}
{#    <section class="b-form b-form_smaller b-form_edit">#}
{#{% else %}#}
{#    <section class="b-form b-form_smaller b-form_edit b-form_left">#}
{#{% endif %}#}
    <section class="b-form b-form_smaller b-form_edit">
        <form name="editform" action="" method="post">
            {% csrf_token %}
            <a class="form-profile-view" href="{% url 'profile-detail' profile.id %}">Просмотр профиля</a>
            <div class="b-form__fields">
                <h3 class="title">
                    {% include "accounts/snippets/profile_edit_left_menu_current.html" %}
                </h3>

                {% for item in form %}
                    <fieldset>
                        <div class="b-form__field">
                            <label>
                                <span class="f-title">
                                    <span>{{ item.label }}</span>
                                </span>
                                {% if item|widget_type in 'TextInput DateInput' %}
                                    <span class="f-input">
                                {% endif %}{% if item|widget_type == 'Textarea' %}
                                    <span class="f-textarea">
                                {% endif %}{% if item|widget_type == 'Select' %}
                                    <span class="f-select">
                                {% endif %}
                                    {{ item }}
                                </span>
                            </label>
                            {% if item.errors %}
                                <div class="f-err"><span>{{ item.errors }}</span></div>
                            {% endif %}
                        </div>
                    </fieldset>
                {% endfor %}
            </div>
            <footer class="b-form__footer">
                <div class="wrap">
                    <a href="#" class="b-button b-button_yellow button-submit">Сохранить</a>
                </div>
            </footer>
        </form>
    </section>
{% endblock %}

