{% extends "accounts/tabs_wrapper.html" %}
{% load sitetree %}

{% block tab %}
    {% include 'snippets/menu.html' with selected='profile' %}
    <dd class="selected">
        <div class="l-cols l-cols_tab">
            <div class="l-cols__bg-section">
                <div></div>
            </div>
            <div class="l-cols__i cleared">
                <section class="l-cols__section">
                    <div class="l-cols__section__i">
                        {% block edit_form %}

                        {% endblock %}
                    </div>
                </section>
                <aside class="l-cols__side">
                    <div class="l-cols__side__i">
                        <nav class="b-tab-sidenav">
                            {% block edit_side_nav %}
                                {% include "accounts/snippets/profile_edit_left_menu.html" %}
                            {% endblock %}
                        </nav>
                    </div>
                </aside>
            </div>
        </div>
    </dd>
{% endblock %}
