@charset "utf-8";
/*
	styles for select
*/
.cuselFrameRight,
.jScrollPaneDrag,
.jScrollArrowUp,
.jScrollArrowDown {
	background: url(../i/selects-2.png) no-repeat;
}

.cusel { /* общий вид селекта включая стрелку справа */
	height:23px;
	background-position:left top;
	display:-moz-inline-box;display:inline-block;//display:inline;zoom:1;
	vertical-align:middle;
	position:relative;
	cursor:pointer;
	font-size:14px;
	outline:0;
	padding:0 0 0 0;
	top:1px;
	z-index:1;
	background:#eeedec;
	background:-moz-linear-gradient(top, #eeedec, #d3d2ce 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#eeedec), to(#d3d2ce));   
	background:-o-linear-gradient(rgb(238,237,236),rgb(211,210,206));
	-moz-box-shadow:0 1px 3px rgba(81,76,54,.75);
	-webkit-box-shadow:0 1px 3px rgba(81,76,54,.75);
	box-shadow:0 1px 3px rgba(81,76,54,.75);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior:url(j/PIE.htc);
}

*+html .cusel {
	background:#d3d2ce url(../i/select-gd.png) repeat-x;
}

.cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
	position:absolute;
	z-index:2;
	top:0;
	right:0;
	height:100%;
	width:20px;
	background-position:100% 50%;
}

.cuselText { /* контейнер для отображенного текста селект */
	padding:3px 0 0 7px; /* подбираем отступы и высоту для видимого текста в селекте */
	cursor:pointer;
	overflow:hidden;
	position:relative;
	z-index:1;
	font:14px 'PT Sans' Arial, sans-serif; /* шрифты */
	top:0;
	left:0;
}

.cusel span { /* оформление оптиона */
	display:block;
	cursor:pointer;
	white-space:nowrap;
	padding:3px 13px 5px 13px; /* паддинг справа - это отступ текста от ползунка */
	line-height:1;
	zoom:1;
	color:#005a8c;
	text-decoration:underline;
}
.cusel span:hover,
.cusel .cuselOptHover { /* реакция оптиона на наведение */
	/*background:#e1ce00;
	color:#000;*/
	color:#b55900;
}
.cusel .cuselActive { /* оформление активного оптиона в списке */
	/*
	background:#e1ce00;
	background:-moz-linear-gradient(top, #e1ce00, #de9600 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#e1ce00), to(#de9600));   
	background:-o-linear-gradient(rgb(225,206,0),rgb(222,150,0));
	-pie-background:linear-gradient(#e1ce00, #de9600 100%);
	color:#000;
	cursor:default;
	behavior:url(j/PIE.htc);
	-pie-watch-ancestors:1;
	*/
}

/*
	styles for focus and hover
*/
.cusel:hover,
.cusel:hover .cuselFrameRight,
.cusel:focus,
.cusel:focus .cuselFrameRight,
.cuselFocus,
.cuselFocus .cuselFrameRight {
	/*background-image:url(../i/selects-2.png);*/
}

.cuselOpen {
	z-index:999;
}

.cuselOpen,
.cuselOpen .cuselFrameRight {
	background:none !important;
}

.cuselOpen .cuselText {
	z-index:1000;
}

/*
	styles for disabled select
*/
.classDisCusel,
.classDisCusel .cuselFrameRight {
	background-image: url(../i/selects-2.png) !important;
	cursor:default;
	color:#ccc;
}
.classDisCusel .cuselText {
	cursor:default;
}


/*
	styles for scrollbar
*/
.cusel .cusel-scroll-wrap { /* контейнер для блока с прокруткой */
	display:block;
	visibility:hidden;
	position:absolute;
	left:-6px;
	right:-4px;
	width:auto;
	top:-2px;
}
.cusel .jScrollPaneContainer {
	position:relative;
	overflow:hidden;
	z-index:5;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 1px 5px rgba(46,43,31,.49);
	-webkit-box-shadow:0 1px 5px rgba(46,43,31,.49);
	box-shadow:0 1px 5px rgba(46,43,31,.49);
	padding-top:26px;
	padding-bottom:8px;
	background:#fff;
	behavior:url(j/PIE.htc);
	margin:0 0 0 0;
}

*+html .cusel .jScrollPaneContainer {
	border-width:0 1px 1px 1px;
	border-style:solid;
	border-color:#fff #8a8a8a #6d6d6d #8a8a8a;
}

.cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
	height: 100%;
	width:7px !important;
	background:#ccc;
	position:absolute;
	top:0;
	right:4px;
}
.cusel .jScrollPaneDrag { /* ползунок */
	position:absolute;
	background-position:-40px -26px;
	cursor:pointer;
	width:15px !important;
	height:27px !important;
	right:-4px;

}

.cusel .jScrollPaneDragTop {
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
}
.cusel .jScrollPaneDragBottom {
	position:absolute;
	bottom:0;
	left:0;
	overflow:hidden;
}
.cusel .jScrollArrowUp { /* стрелка вверх */
	position:absolute;
	top:0;
	right:2px;
	width:26px;
	height:12px;
	cursor:pointer;
	background-position:-2px -26px;
	overflow:hidden;
}
.cusel .jScrollArrowDown { /* стрелка вниз */
	width:25px;
	height:12px;
	position:absolute;
	top:auto;
	bottom:0;
	right:3px;
	cursor:pointer;
	background-position:-21px -26px;
	overflow:hidden;
}